<div class="container">
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
    <div class="category-main" *ngIf="categorybanner">
        <h1>{{categorybanner.categoryDisplayName}}(<span>{{totalProducts}}</span>)</h1>
    </div>
    <app-categorybanner *ngIf="categorybanner" [categorybanner]="categorybanner"></app-categorybanner>
</div>

<main class="plp-view_container container">

    <div *ngIf="pageLoad;else backdrop">
        <section *ngIf="!freshRelevanceSpecific;else freshrelevanceblock">

            <div class="sort-box">
                <div class="product-layout">
                    <a class="layout-a" (click)="onGridClick(true)"><span></span></a>
                    <a class="layout-b" (click)="onGridClick(false)"><span></span></a>
                </div>
                <div class="sort-list">
                    <a class="clear-link" (click)="onClearAll()">Clear All</a>
                    <div class="sortby-main">
                        <form>
                            <select id="sortBySelect" class="sort-by-select" name="sort" (change)="sortByCahnge()">
                                <option value="" selected="selected"> Sort by</option>
                                <option id="option" value="displayName:ascending">Name A to Z</option>
                                <option id="option" value="displayName:descending">Name Z to A</option>
                                <option id="option" value="price:ascending">Price Low to High</option>
                                <option id="option" value="price:descending">Price High to Low</option>
                            </select>
                        </form>
                    </div>
                    <div class="filter-by dropdown " (click)="onMbFilterByClick()">
                        <span><a href="#myModal" role="button" class="filter-by-text" data-toggle="modal">Filter By<span
                                    *ngIf="checkList" class="facet-check"></span></a></span>
                    </div>
                </div>
            </div>
            <div class="paginations divalign" *ngIf="totalProducts>12"
                [ngClass]="{'container-display-block':catalogSpecific,'container-display-none':!catalogSpecific}">
                <div class="rowCompts">
                    <div class="col75">
                        <nav aria-label="Page navigation example">
                            <li class="page_viewAll" *ngIf="viewAllProducts">
                                <a (click)="onShowFirstPage($event,1)">SHOW FIRST PAGE</a>
                                &nbsp;&nbsp;&nbsp;
                            </li>
                            <ul class="pagination" *ngIf="pager&&!viewAllProducts">
                                <li class="page_viewAll">
                                    <a (click)="onviewAllProducts($event)">View all</a>
                                    &nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="page-item" [hidden]="pagination.currentPage==0">
                                    <a class="page-link next" aria-label="Previous"
                                        (click)="fetchProductNextperPage($event,true)"
                                        title="Go To {{(pageNumber)? 'Page '+convertPrevString():'Next Page'}}">
                                        <img
                                            src="https://www.moltonbrown.co.uk/images/storefront/Left_Previous_Arrow.gif?version=16">
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let page of totalNumber;let pageId=index"
                                    [ngClass]="{'page-active':currentPage == page.value}">
                                    <a class="page-link" (click)="fetchProductperPage($event,page)"
                                        title="Go To  Page {{page.content}}">{{page.content}}</a>
                                </li>
                                <li class="page-item" [hidden]="pagination.currentPage+1 === pagination.totalPages">
                                    <a class="page-link next" aria-label="Next"
                                        (click)="fetchProductNextperPage($event,false)"
                                        title="Go To {{(pageNumber)? 'Page '+convertNextString():'Next Page'}}">
                                        <img
                                            src="https://www.moltonbrown.co.uk/images/storefront/Right_Next_Arrow.gif?version=16">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row plp-container-grid">
                <!-- facet starts -->
                <div class="facets col-md-3 no-category left-menu "
                    [ngClass]="{'container-display-block':catalogSpecific,'container-display-none':!catalogSpecific}">
                    <div *ngIf="activeProducts">
                        <span class="facet_header_container" *ngIf="activeProducts">
                            <h3 class="facet_header">FILTER BY</h3>
                        </span>
                        <div class="facetoptions">
                            <div id="filterAccordion" #facetTag class="filter_group-options"
                                *ngFor="let filterData of facets;let sortId=index">
                                <div class="collapsed facet-title" data-toggle="collapse"
                                    (click)="onFacetClicked(filterData,sortId)" [attr.href]="'#collapseOne'+sortId"
                                    [ngClass]="{'open-facets':filterData.checked}">
                                    <a class="mb-product-filter-cntnt">
                                        <h5 class="filter_group-content">
                                            {{filterData.name}}
                                            <span></span>
                                        </h5>
                                    </a>
                                </div>
                                <div [attr.id]="'collapseOne'+sortId" class="facet-content-container  collapse"
                                    data-parent="#filterAccordion">
                                    <div class="Price mb-product-filter-div">
                                        <li class="facet-list" style="padding-bottom:5px;position: relative;"
                                            *ngFor="let valueData of filterData.values;let id=index;">

                                            <input type="checkbox" name="filterBy"
                                                (change)="onfilterBy($event,sortId,valueData,id)"
                                                [checked]="valueData.selected" [disabled]="valueData.disable">
                                            <label class="facet-lbl" [ngClass]="{'disable-cntnt':valueData.disable}">
                                                <span class="facet-rating" *ngIf="valueData.name.length < 2">
                                                    <ngx-stars [readonly]="true" [initialStars]="valueData.name"
                                                        [color]="valueData.disable?'#c7c5c5':'#425162'" [size]="1">
                                                    </ngx-stars>
                                                </span>
                                                {{(valueData.name.length > 2)? valueData.name:''}}
                                                {{'('+valueData.count+')'}}
                                            </label>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="facet_clearall"><span (click)="onClearAll()">Clear all</span></div>
                        </div>
                    </div>
                </div>
                <!-- facet ends -->

                <div class="plp-products-container   col-sm-12 "
                    [ngClass]="{'col-md-9':catalogSpecific,'col-md-12 no-padding':!catalogSpecific}">

                    <div *ngIf="activeProducts">
                        <div class="heading">

                            <div class="viewAllTop" style="width:100%;" *ngIf="catalogSpecific; else bestSellerBlock">
                                <h1 class="text-left" style="width:100%;" *ngIf="searchDisplay">
                                    Products found for
                                    <span class="searchTerm">
                                        <span
                                            class="searchTerm">&quot;{{(spellingSuggestion)?spellingSuggestion.suggestion:freeSearchText}}&quot;</span>
                                        <span class="resultsCount">&nbsp;=&nbsp;{{totalProducts}}</span>
                                    </span>
                                    <span class="freeText-content" *ngIf="spellingSuggestion">Your search
                                        for&nbsp;<span><span><a>&quot;</a>{{freeSearchText}}<a>&quot;</a></span></span>
                                        was adjusted to&nbsp;<span
                                            class="autoCorrect">&quot;{{(spellingSuggestion)?spellingSuggestion.suggestion:''}}&quot;</span></span>
                                </h1>
                            </div>
                            <ng-template #bestSellerBlock>
                                <h2 class="content-inline-block">Bestsellers</h2>
                                <h2 class="content-inline-block viewAllProducts" *ngIf="categorybanner"><a
                                        (click)="onViewAllProducts()">View All&nbsp;{{categorybanner.name}}
                                        &nbsp;Products</a></h2>
                            </ng-template>
                        </div>
                        <div class="rowComponents plpPage ">
                            <div class="col-lg-4 mb-child col-sm-6 plp-prdct-container  tab-responsive-plp-grid"
                                *ngFor="let data of pagedItems;let i =index;"  lazy-load-images
                                [ngClass]="{'col-md-4 col-xs-6':displayGrid,'col-md-6 col-xs-12':!displayGrid,'col-xs-6 ':displayGrid,'col-xs-12':!displayGrid,'height-show':data.show,'height-hide': !data.show }">

                                <app-ngui-in-view *ngIf="!data.isDummy ;else amplienceAdvertiseBlock">
                                    <div *ngIf class="wrap">
                                        <a class="mb-prod-quickview-cntnt hide-on-tabs"
                                            (click)="onQuickView($event,i)">Quick view</a>

                                        <div class="wrap-content" (click)="onShowDetailPage($event,data)">
                                            <div class="holder">
                                                <img src="https://i1.adis.ws/s/moltonbrown/{{data.code}}_uk_set?$mobLargeImg$&amp;fmt=webp"
                                                    crossorigin="anonymous">
                                            </div>
                                            <div class="text-center">
                                                <div class="plp-prdct-name">
                                                    <span [innerHtml]="data.productDisplayName"> </span>
                                                </div>
                                                <div>
                                                    <ngx-stars [readonly]="true"
                                                        [initialStars]="data.productAverageRating" [color]="'#484848'"
                                                        [size]="1">
                                                    </ngx-stars>
                                                    <span class="mb-product-review-content">
                                                         {{data.reviewCount}} reviews
                                                    </span>
                                                </div>
                                                <div class="price-format">{{(data.price)?data.price.formattedValue:'loading'}}</div>
                                            </div>
                                        </div>
                                        <div class="content quickview-cntnt" 
                                            [ngClass]="{'mb-dropLayer-show':data.show,'mb-dropLayer-hide':!data.show}">
                                            <div class="prodlist-quickView">
                                                <div><span class="mb-prod-arrow mb-quickview-collapse-arrow"></span>
                                                </div>
                                                <div class="mb-quickview-close-btn" (click)="onCloseWindow(data,i)">
                                                    <span>Close</span></div>
                                            </div>
                                            <div>
                                                <app-productview [productInfo]="data" [showDetail]="false"
                                                    (showProductDetail)="onShowDetailPage(data)"
                                                    (onQuickView)="onCloseQuickView($event)"></app-productview>
                                            </div>
                                        </div>
                                    </div>
                                </app-ngui-in-view>
                                <ng-template #amplienceAdvertiseBlock>
                                    <div class="advertisement_block" [innerHtml]="data.htmlData">
                                    </div>
                                </ng-template>
                            </div>
                        </div>




                        <div class="paginations divalign pagination-bottom" *ngIf="totalProducts>12"
                            [ngClass]="{'container-display-block':catalogSpecific,'container-display-none':!catalogSpecific}">
                            <div class="rowCompts">
                                <div class="col75">
                                    <nav aria-label="Page navigation example">
                                        <li class="page_viewAll" *ngIf="viewAllProducts">
                                            <a (click)="fetchProductperPage($event,1)">SHOW FIRST PAGE</a>
                                            &nbsp;&nbsp;&nbsp;
                                        </li>
                                        <ul class="pagination" *ngIf="pager&&!viewAllProducts">
                                            <li class="page_viewAll">
                                                <a (click)="onviewAllProducts($event)">View all</a>
                                                &nbsp;&nbsp;&nbsp;
                                            </li>
                                            <li class="page-item" [hidden]="pagination.currentPage==0">
                                                <a class="page-link next" aria-label="Previous"
                                                    (click)="fetchProductNextperPage($event,true)"
                                                    title="Go To {{(pageNumber)? 'Page '+convertPrevString():'Next Page'}}">
                                                    <img
                                                        src="https://www.moltonbrown.co.uk/images/storefront/Left_Previous_Arrow.gif?version=16">
                                                </a>
                                            </li>
                                            <li class="page-item" *ngFor="let page of totalNumber;let pageId=index"
                                                [ngClass]="{'page-active':currentPage == page.value}">
                                                <a class="page-link" (click)="fetchProductperPage($event,page)"
                                                    title="Go To  Page {{page.content}}">{{page.content}}</a>
                                            </li>
                                            <li class="page-item"
                                                [hidden]="pagination.currentPage+1 === pagination.totalPages">
                                                <a class="page-link next" aria-label="Next"
                                                    (click)="fetchProductNextperPage($event,false)"
                                                    title="Go To {{(pageNumber)? 'Page '+convertNextString():'Next Page'}}">
                                                    <img
                                                        src="https://www.moltonbrown.co.uk/images/storefront/Right_Next_Arrow.gif?version=16">
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="justify-content-center freshrelavance " *ngIf="searchDisplay">
                        <div class="searchResults" *ngIf="!activeProducts">
                            <h1>Your search for&nbsp;<span
                                    class="searchTerm">&quot;{{freeSearchText}}&quot;</span>&nbsp;returned
                                &nbsp;0&nbsp;results</h1>
                            <br>
                            Please change your criteria or try one of the following options:<br><br>
                        </div>
                        <h2 class="customer">Shop our Customer Favourites</h2>
                        <div class="tmspslot" style="width: 100%; min-height: 60px;margin-bottom:8px;" data-k="qa5buoy"
                            data-slid="uk-hybris-prod-feed-search-results" data-p="1"></div>
                        <div>
                            <img width="748px"
                                src="//images.moltonbrown.co.uk/images/storefront/Store_Finder_Image.gif?version=16"
                                alt="Molton Brown UK  storefinder">
                        </div>
                        <div class="search-header">
                            <h3>Need more help?</h3>
                            <div>
                                You may be able to find the answer in our <a href="/store/faqs"><u>FAQs and help</u></a>
                                pages or contact our customer services team on freephone: +44 (0)808 178 1188 or email
                                us on
                                <a href="mailto:customerservice@moltonbrown.com">
                                    <u>customerservice@moltonbrown.com</u>.
                                </a>
                                Our lines are open: 8am-8pm (UK Time) Monday to Friday, 10am-4pm (UK Time) Saturday.
                                We aim to respond to all messages and call backs within 2 working days of
                                receipt.<br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
    <ng-template #backdrop>
        <div class="loading-backdrop">
            <div class="b2c-title">
                Molton Brown
            </div>

        </div>
    </ng-template>
</main>


<!-- modal -->


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content facet-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Refine {{(refinePath)?':':''}}{{refinePath}}</h5>
                <div *ngIf="IsmodelShow; else elseRefineCancelBlock" class="close modal-header-close"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">cancel</span>
                </div>
                <ng-template #elseRefineCancelBlock>
                    <div class="close modal-header-close" (click)="onShowFilters()">
                        <span aria-hidden="true">Back</span>
                    </div>
                </ng-template>
            </div>
            <div class="modal-body p-4">
                <div *ngFor="let data of facets;let sortId =index;" [hidden]="!mbFacet">
                    <div (click)="onRefineitem(data,sortId)"><span style="font-size:14px;"> {{data.name}} </span></div>
                    <div style="display:flex;flex-direction: row;">
                        <li style="list-style: none;font-size: 12px;color:#666;"
                            *ngFor="let filterItem of data.values;let listId =index;">
                            <div *ngIf="filterItem.selected"> {{filterItem.name}}</div>
                        </li>
                    </div>
                </div>
                <div [ngClass]="{'mb-facet-sort-show':!mbFacet,'mb-facet-sort-hide':mbFacet}">
                    <div *ngFor="let filterItem of refineFacets;let listId =index;">
                        <li class="facet-list" style="padding-bottom:5px;position: relative;"
                            (click)="updateFilterData($event,filterItem,listId)">
                            <input type="checkbox" name="filterBy" [checked]="filterItem.selected"
                                [disabled]="filterItem.disable">
                            <label class="facet-lbl" [ngClass]="{'disable-cntnt':filterItem.disable}">
                                <span class="facet-rating" *ngIf="filterItem.name.length < 2">
                                    <ngx-stars [readonly]="true" [initialStars]="filterItem.name"
                                        [color]="filterItem.disable?'#c7c5c5':'#425162'" [size]="1"></ngx-stars>
                                </span>
                                {{(filterItem.name.length > 2)? filterItem.name:''}} {{'('+filterItem.count+')'}}
                            </label>
                        </li>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <div class="footer-action ">
                    <div class="btn-fullSize"
                        [ngClass]="{'hide-filterbtn': !checkedfilter,'form-inline':checkedfilter}">
                        <div class="text-center action-text btn-size" (click)="ontapClear($event)">clear</div>
                        <div class="text-center action-text btn-size" (click)="onCheckListDone()">Done</div>
                    </div>

                    <div class="btn-fullSize" [ngClass]="{'hide-filterbtn': !checkList,'form-inline':checkList}">
                        <div class="text-center action-text btn-size" data-dismiss="modal" aria-label="Close"
                            (click)="onClearAll()">Clear All</div>
                        <div class="text-center action-text btn-size" data-dismiss="modal" aria-label="Close"
                            (click)="ontapApplyFacets()">Apply</div>
                    </div>
                    <div class="text-center action-text  btn-full-size"
                        [ngClass]="{'hide-filterbtn': !showFacets,'show-filterbtn':showFacets}" data-dismiss="modal">
                        Close</div>


                </div>
            </div>
        </div>
    </div>
</div>






<ng-template #freshrelevanceblock>
    <div class="freshrelavance-container container">
        <div class="heading">
            <div class="viewAllTop" style="width:100%;" *ngIf="searchDisplay; else bestSellerBlock">
                <h1 class="text-left" style="width:100%;" *ngIf="searchDisplay">Products found for&nbsp;
                    <span class="searchTerm">
                        <span class="searchTerm">{{paramcode}}</span>&nbsp; = &nbsp;
                        <span class="resultsCount">{{totalProducts}}</span>&nbsp;</span>
                </h1>
            </div>
            <ng-template #bestSellerBlock>
                <h2 class="content-inline-block">Bestsellers</h2>
                <h2 class="content-inline-block viewAllProducts" *ngIf="categorybanner"><a
                        (click)="onViewAllProducts(categorybanner)">View
                        All&nbsp;{{categorybanner.name}}&nbsp;Products</a></h2>
            </ng-template>
        </div>
        <div #parentCategory>
            <div class="tmspslot" style="width: 100%;" data-k="qa5buoy" data-slid="uk-hybris-prod-feed-parent-category"
                data-p="1"></div>
        </div>

    </div>
</ng-template>