fieldset {
    margin-bottom: 2px;
}
.paypal{
    .paypal-option{
        height:365px;

    }
    .checkbox{
        &.guest-checkbox{
        height:165px;
        @media screen and(max-width:768px) {
            height:auto !important;
        }
    }
        &.terms-checkbox{
            height:100px;
        }
    }
}
@media screen and(max-width:425px){
    .paypal-btn{
        top:-70px;
    }
}
h5, .h5 {
    font-size: 14px;
}
h2.jointitle, h2.tctitle {
    font-size: 1.28571em;
    margin: 0 0 12px!important;
}

h5.jointxttwo {
    margin-bottom: 30px;
}
.paypal-btn{
    width:235px;
}