
<div class="container pickmix">
  <section class="pickmix-conatiner text-center justify-content-center" *ngIf="pickMix;else pickMixTraveler">
  <h1>Pick &amp; Mix Travel Toiletries</h1>
  <h2 class="starp-line">Create your own toiletries travel bag.</h2>
  <div class="form-inline justify-content-center margin-top-20" >
      <button class="cta">Start</button>
  </div>
  
</section>
<ng-template #pickMixTraveler>
  <section class="pickmix-sticky-wrapper">
      <div class="step-indicator clearfix checkout-cart">
          <ol>
                  <li class="step-one"> <div class="active"  [ngClass]="{'current':current}" > PACK</div>
             </li>
                  <li class="step-two"> <div class="active step-two-content" >PACK&BUY</div>
             </li>
                
          </ol>
           </div>

   <div class="pickMix-block clearfix">
         <div class="pickMix-block-container">
           <div class="group">
            <div class="pickMix-item item-1">
              <div class="pickMix-item-img">sDs</div>
              <div class="pickMix-selection-indicator">D</div>
            </div>
           </div>
         </div>
         <div class="pickMix-block-container">
          <div class="group">
            <div class="pickMix-item item-1">
              <div class="pickMix-item-img"></div>
              <div class="pickMix-selection-indicator"></div>
            </div>
           </div>
        </div>
   </div>        
  </section>
<section class="pickmix-category-container">
<aside class="pickMix-aside category-wrapper">
  <ul class="navigation">
    <li><a href="#{{data.data}}" (click)="scrollToUsageSection($event)" *ngFor="let data of pickMixProducts">{{data.data}}</a></li>
   
  </ul>
</aside>

<div class="pickmix-product-container" #scrollbarRef>

  <section id="{{data.data}}" class="page-section"  *ngFor="let data of pickMixProducts">
    <h1>{{data.data}}</h1>
    <p>{{data.description}}</p>
  </section>

</div>
</section>


</ng-template>
</div>