<section>
<div class="dt-delivery-details">
    <div class="user-delivery-details">     
       <div class="padding-top-10 user-delivery-bg  clearfix" >
           <i class="icon-click-collect-dt icon-bg-block"></i>
           <div class="delivery-method">Click & Collect</div>
           <div class="edit-details"><a  class="edit-delivery-details">Edit this</a>
             <i class="icon-valid-white icon-bg-block"></i></div>
       </div>
       <div class="padding-top-10 user-delivery-bg  clearfix" >
          <i class="icon-location-gfs icon-bg-block"></i>
          <div class="delivery-method">
            <strong>{{storeData.name}}</strong>
            <p>{{storeData.address.line1}},{{storeData.address.postalCode}},{{storeData.address.country.isocode}}</p>
          </div>
          <div class="edit-details"><a  class="edit-delivery-details">Edit this</a>
            <i class="icon-valid-white icon-bg-block"></i></div>
      </div>

      
      <div class="pt-10 user-delivery-bg  clearfix" *ngIf="storeData.mobile">
        
          <i class="icon-telephone  icon-bg-block"></i>
          <div class="delivery-method" > {{storeData.mobile}}</div>
          <div class="edit-details"><a  class="edit-delivery-details">Edit this</a>
            <i class="icon-valid-white icon-bg-block"></i></div>
      </div>
    </div>
</div>     


<div class="panel-body" [hidden]="payment">
    <div class="cs-communication">
      <div class="telephone  cs-communication-block ">
        <fieldset>
         <h4>What's your contact number?</h4>
          <p>
              Just in case we need to contact you about your order. 
               We will never spam you or sell your information.
          </p>
          <div class="form-group">
             <div style="position: relative;height: 65px;">
                  <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="Password must be between 6 and 20 characters. With one special charater."  show-delay="500" placement="right" ></a>
                  <input  [(ngModel)]="mobile" autocorrect="off" autocomplete="off" placeholder="Telephone number*" type="text" class=" text form-control pull-left cc-postcode-input ng-pristine ng-valid ng-touched" required >
            </div>
          </div>
          
          <p class="help-info">Enter a mobile number for free text order updates.</p>
          <div class="text-right">
              <button type="submit" class="btn shopping-btn"  (click)="onUpdateCollect()">Continue</button>
            </div>
        </fieldset>
        <div>
        </div>
     
      </div>
    </div>
</div>

</section>