
@import "../../../variable.scss";
.dt-delivery-details .delivery-method{
    width:70% !important;
    text-transform: lowercase;
}
.dt-delivery-details{
    .user-delivery-details {
        background-color: #c2c2c2;
        padding: 0 10px 10px;
        color: $mb-black;
    }
    .user-delivery-method{
        border-bottom: 1px solid $mb-black;
        padding: 10px 0;
    }
    .edit-details{
        float:right;
    }
    .delivery-method{
        display:inline-block;
        width:130px;
    }
}
.icon-valid-white {
    background: url('../../../../assets/imgs/tick-icon-white.png') no-repeat center top;
    height: 24px;
    width: 24px;
    margin-left: 10px;
}
.icon-home {
    background: url('../../../../assets/imgs/house-icon.png') no-repeat 0 0;
    height: 24px;
    width: 48px;
}
.icon-telephone {
    background: url('../../../../assets/imgs/telephone-icon.png') no-repeat 0 0;
    height: 24px;
    width: 48px;
    float: left;
}
.icon-uk-std-dt {
    height: 24px;
    width:48px;
    background: url('../../../../assets/imgs/delivery-options-icon.png') no-repeat 0 0;
    float: left;
}
.icon-bg-block{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.delivery-method-content{
    width:100%;
}
.mt-25{
    margin-top:24px;
}
.edit-delivery-details{
    color:$mb-black !important;
    text-decoration: underline !important;
    font-size:14px;
    cursor: pointer;
    &:hover{
        text-decoration:underline;
    }
}

.subtotal-flex{
    display:flex;
    grid-template-rows: auto;
}
.mb-payment-type{
    margin: 5px;
    min-height: 130px;
    padding: 20px;
    float: left;
    text-align: center;
    border: 1px solid $mb-black;
    background-color: $mb-white;
    cursor: pointer;
    position: relative;
    transition: opacity 0.7s;
    width: -webkit-fill-available;
    @media screen and (max-width:768px) {
        padding:5px;
    }
    h5 {
        font-size: 16px;
        margin: 0 0 10px;
        padding-bottom: 10px;
        color: $mb-black;
        border-bottom: 1px solid #c2c2c2;
    }
    &.mb-dt-selected{
        &:after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: -7px;
        background-color: $mb-white;
        box-shadow: 1px 1px 0 $mb-black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.payment-type-card {
    background: url('https://css.moltonbrown.co.uk/images/payment-methods.png') no-repeat 0 0;
    width: 74px;
    height: 47px;
    display: inline-block;
    margin-top: 5px;
}
}
.mb-dt-header {
    // font-size: 16px;
    padding-bottom: 10px;
    color: $mb-black;
    border-bottom: 1px solid #c2c2c2;
}

.mb-dt-hideBlock{
    display: none;
}

.card-block-height{
   min-height: 10px;
}
.icon-card-paypal {
    background-position: 0 -48px !important;
}
.icon-card-giftcard {
    background-position: 0 -96px !important;
}
.delivery_service{
    h2{
        font-size: 18px;
    }
}
.card-body{
    padding: 15px 14px;
}

.btn-primary {
    background-color: $mb-btn-bg;
    width: 245px;
    &:hover{
        background-color: $mb-btn-bg;  
    }
}
.mb-dt-unselected{
    filter: opacity(0.5);
    opacity: .5;
}
.delivery-service-method {
    position: relative;
}

.named-day-delivery {
    padding: 15px;
    border: 1px solid $mb-black;
    background-color: $mb-white;
}

.ukstd {
    font-size: 14px;
    padding: 10px 0;
}
 .available-day-row {
    cursor: pointer;
    padding: 5px;
    background-color: #f6f6f6;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    display: inline-block;
    width:100%;
}
.named-day{
    float:left;
    margin-right:12px
}
.delivery-day{
    width:235px;
}
.delivery-day-type{
    width:125px;
}
// .delivery-btn-block{
//     display:flex;
//     // align-items: center;
// }
.shopping-btn{
    width:245px;
    padding-top: 18px;
    &:active{
        background-color:inherit;
    }
    &:hover{
        color:$mb-white;
    }
}
.icon-international-sml {
    height: 32px;
    width:50px;
    background: url('../../../../assets/imgs/delivery-options-icon.png') no-repeat -2px -136px;
    float: left;
}

.disabled{
    filter: opacity(0.5);
    opacity: .5;
}
.pt-10{
    padding-top:10px;
}
// .service-block{
//     .btn{
//         width:50%;
//     }
// }

.user-delivery-bg {
margin-top:10px;
}

.dt-outstaion{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
    border: 1px solid #c2c2c2;
    padding: 20px;
    cursor: default;
    h5 {
        font-size: 16px;
        margin: 0 0 10px;
        color: #000;
        border-bottom: 0;
    }
    h5.outstation-dt-price{
        margin-bottom: 0;
    }
}
.active-day{
    border:1px solid green;
}