<div class="dt-delivery-details">
  <div class="user-delivery-details">
    <div class="user-delivery-method user-delivery-bg  clearfix">

      <i class="icon-uk-std-dt icon-bg-block"></i>
      <div class="delivery-method"> {{shippingInfo.deliveryType}}</div>
      <div class="edit-details"><a (click)="onEditDeliveryType(true,'delivery')" class="edit-delivery-details">Edit
          this</a>
        <i class="icon-valid-white icon-bg-block"></i></div>
    </div>

    <div class=" user-delivery-bg  clearfix">
      <div>
        <i class="icon-home icon-bg-block"></i>
        <div class="delivery-method delivery-customer-info">
          <span
            *ngIf="shippingInfo.customerAddress">{{shippingInfo.customerAddress.firstName+'  '+shippingInfo.customerAddress.lastName}}&nbsp;</span>
          <span *ngIf="shippingInfo.customerAddress.line1">{{shippingInfo.customerAddress.line1}}&nbsp;</span>
          <span *ngIf="shippingInfo.customerAddress.line2">{{shippingInfo.customerAddress.line2}}&nbsp;</span>
          <span *ngIf="shippingInfo.customerAddress.town">{{shippingInfo.customerAddress.town}}&nbsp;</span>
          <span *ngIf="shippingInfo.customerAddress.postalCode">{{shippingInfo.customerAddress.postalCode}}&nbsp;</span>
          <span *ngIf="shippingInfo.customerAddress.country.name">{{shippingInfo.customerAddress.country.name}}</span>.
        </div>

      </div>
      <div class="mt-25 deliverPhoneNumber">
        <i class="icon-telephone icon-bg-block"></i>
        <div class="delivery-method">
          {{(shippingInfo.customerAddress.phone)?shippingInfo.customerAddress.phone:9877675432}} </div>
        <div class="edit-details"><a (click)="onEditDeliveryType(true,'profile')" class="edit-delivery-details">Edit
            this</a>
          <i class="icon-valid-white icon-bg-block"></i>
        </div>
      </div>

    </div>



    <div class="pt-10 user-delivery-bg  clearfix" *ngIf="shippingInfo.payType">

      <i class="icon-international-sml icon-bg-block"></i>
      <div class="delivery-method"> {{shippingInfo.payType.name}}</div>
      <div class="edit-details"><a (click)="onEditDeliveryType(false,'service')" class="edit-delivery-details">Edit
          this</a>
        <i class="icon-valid-white icon-bg-block"></i></div>
    </div>

  </div>

  <section *ngIf="serviceBody">
    <div class="delivery_service card-body">
      <h2>
        Choose Delivery Service
      </h2>
      <div class="subtotal-flex" style="border:0;">
        <div *ngIf="outstation;else localDelivery">
          <div>
            <div class="dt-outstaion " *ngFor="let oustation of outstationDelivery">
              <div class="mb-dt-selected">
                <i class="icon-dt-international">
                  <img src="../../../assets/imgs/InternationalDelivery.png">
                </i>
                <h5>
                  International Delivery<br><span class="delivery-country">{{oustation.countryName}}</span><br>
                  
                </h5>
                <h5 class="outstation-dt-price">{{oustation.deliveryCost}}</h5>
              </div>
              <div class="delivery-btn-block service-block mt-15">
                <h5 class="order-delivery-date" style="font-size:14px;">Your order will arrive within
                  {{oustation.serviceName}}.</h5>

                <span class="btn  shopping-btn" (click)="outstationDt($event)">Continue To Payment</span>
              </div>
            </div>

          </div>
        </div>
        <ng-template #localDelivery>

          <a class="mb-payment-type mb-type-delevery" *ngFor="let data of deliveryPayments;let k=index;"
            [ngClass]="{'mb-dt-selected':deliveryTypeselected==data.code,'disabled':data.disabled }"
            (click)="onDeleveryType($event,data,k)">
            <i class="mb-icon-dt-uk">
              <img src="../../../assets/imgs/StandardDelivery.png"></i>
            <h5 class="mb-dt-header mb-dt-margin">{{(data.name)?data.name:data.serviceName}}</h5>
            <p class="mb-dt-price mb-dt-margin">
              {{(data.deliveryCharge)?data.deliveryCharge:data.deliveryCost.formattedValue}}</p>
          </a>
        </ng-template>
      </div>
    </div>
    <section style="margin:10px 15px;" *ngIf="deliveryTypeselected =='UK-Standard-Delivery'">

      <div class="delivery-btn-block service-block mt-15">
        <h5 class="order-delivery-date" style="font-size:14px;">Your order will arrive within 1 - 2 business days.</h5>

        <span class="btn  shopping-btn" (click)="onSecureCheck()">Continue To Payment</span>
      </div>
    </section>

    <section class="card-body" *ngIf="deliveryTypeselected =='UK-next-day-named-day-or-Saturday'">
      <div class="named-day-delivery clearfix delivery-service-method " *ngIf="shippingServices">
        <div class="choose-delivery-day clearfix">
          <h4>Choose a delivery date</h4>
          <h4 class="ukstd">Some locations may take 2 days. <a href="#">Find out more{{namedDayId}}</a></h4>
          <div class="named-day-delivery-available" *ngFor="let data of shippingServices;let i=index" >
            <button class="available-day-row " (click)="onSelectNameDay(data,i)" [ngClass]="{'active-day':data.active}"
              [disabled]="data.serviceName=='Unavailable'">
              <div class="named-day delivery-day">{{data.date}}</div>
              <div class="delivery-day-type named-day">
                {{data.serviceName}}</div>
              <div class="delivery-day-price named-day">
                {{data.deliveryCost}}</div>
            </button>
          </div>


          <div class="delivery-btn-block service-block mt-15" *ngIf="namedDay">
            <h5 class="order-delivery-date" style="font-size:14px;">Your order will arrive on {{namedDay.date}}.</h5>
    
            <span class="btn  shopping-btn" (click)="onSecureCheck()">Continue To Payment</span>
          </div>

        </div>
      </div>
      <div   [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}" >
        <app-loader></app-loader>
     </div>
    </section>
  </section>

</div>