
.editorial-container{
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: "Trebuchet", Trebuchet MS;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        *{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .editorial-banner-slot-1 .amp-dc-banner-info-wrap .amp-dc-banner-info, .editorial-banner-slot-2 .amp-dc-banner-info-wrap .amp-dc-banner-info {
            color:#fff !important;
        }
 

        .breadcrumb-features {
            .container{
                padding:0;
                .align-center.col-8{
                    @media screen and (max-width:768px){
                        display:none !important;
                    }
                }
            }
            position: relative;
            width: 100%;
            background: #f8f8f8;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            .features-link{
                font-family: Georgia, serif;
                &:before {
                    border-top: 5px solid transparent;
                    border-right: 5px solid;
                    border-bottom: 5px solid transparent;
                    content: "";
                    display: inline-block;
                    height: 0;
                    margin-right: 7px;
                    visibility: visible;
                    width: 0;
                }
            }
            a{
                color: #000 !important;
                cursor: pointer;
                font-size: 15px;
                font-style:italic;
                &:hover{
                    text-decoration:underline;
                }
                span{
                    font-size: 15px; 
                    font-style:italic;
                }
            }
             ul {
                list-style: none;
                width: 938px;
                height: 35px;
                margin: auto;
                &.space-between {
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }
                &.flex-align {
                    height: inherit;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
                li {
                    
                    font-family: Georgia !important;
                    display: inline-block;
                    font-size: 15px;
                    font-style: italic;
                    color: #000;
                 
              
                }
            }
        }
        .amp-dc-banner-pic-wrap {
            .amp-dc-image {
       //     height: fit-content;
        }
    }
    .amp-dc-homepage{
         .amp-dc-block-wrap{
             margin-top:0px;
         }
}
.amp-dc-banner-pic-wrap {
    .amp-dc-image {
    .amp-dc-image-pic {
        display: block;
        height: inherit;
    }
   }
}
}
.editorial-banner-slot-5{

    .amp-dc-banner-subheader{
        font-style:inherit !important;
    }
    .amp-dc-banner-info-wrap{
        width:40%;
        @media(max-width:480px){
            left:10px !important;
            width:100%;
            margin:0 auto;
            top: -8% !important;
        }
    }
    .amp-dc-banner-header{
        font-size:21px;
        @media(max-width:480px){
            font-size: 5.6vmin;
            text-transform: uppercase;
        }
    }
    .amp-dc-banner-subheader{
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 100;
        @media(max-width:480px){
            font-size: 10.7vmin;;
            text-transform: uppercase;
        }
    }
    .amp-dc-banner-description{
        margin: 30px auto 0;
        width: 100%;
        border: 1px solid #000;
        padding: 25px 50px;
        font-size: 14px;
        @media(max-width:480px){
            font-size: 4.2vmin;
        }
    }
}
.editorial-banner-slot-4{
   .amp-dc-banner-header{
    font-size: 21px;
   }
}
.editorial-banner-slot-1{
    .amp-dc-banner-info-wrap{
        @media(max-width:768px){
            //top:-98% !important;
            width:100%;
            left:31% !important;
            top:3% !important;
        }
        @media(max-width:480px){
            left:8% !important;
            top:-24% !important;
        }

    }
    .amp-dc-video-wrap{
        // position: relative;
        // width: 100%;
       height: 605px;
       margin-top: -55px;
       @media(max-width:1024px){
        height: auto;
        margin-top: 0;
       }
   @media(max-width:480px){
       video{
        object-fit: none;
        height: 645px;
        width:100vh;
       }
   }
    }
    .amp-dc-banner-info{
        min-width: 320px;
        padding:0;
        position: relative;
      .amp-dc-banner-header{
        font-size: 28px;
        font-weight:100;
        padding-bottom: 10px;
        @media(max-width:480px){
            font-size:20px;
        }
    }
    .amp-dc-banner-subheader{
        font-size: 18px;
        font-style:unset;
        font-weight: 100;
        @media(max-width:480px){
            font-size:14px;
        }
    }
    .amp-dc-banner-description{
        font-size:52px;
        padding: 14px 0 12px;
        font-style:unset;
        font-weight: 700;
        @media(max-width:480px){
            font-size:36px;
        }
    }
    .amp-dc-banner-button{
        font-size:14px;
        background: transparent;
        visibility: hidden;
         &:before{
            content:'';  
            visibility: visible;  
            width: 55px;
            height: 55px;
            border-radius: 50px;
            border: 2px solid #fff;
            margin: 0 auto;
            line-height: 65px;
            overflow: hidden;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            position: absolute;
            top:70%;
        }
        &:after{
            content:'';            
            visibility: visible;
            background: url('https://www.moltonbrown.co.uk/MBPromoImages/Microsites/russian-leather-images/arrow-shape.png') no-repeat;
            width: 23px;
            height: 33px;
            margin: 0 auto;
            -webkit-animation-name: bounce;
            animation-name: bounce;
            -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
           -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            position: absolute;
            left: 47.5%;
            top: 72.5%;
            @media(max-width:768px){
                left: 46.5%;
            }
        }
    }
    &:after{
        content:'Discover';
        content: 'Discover';
        position: absolute;
        bottom: -15px;
        left: 44.5%;
        font-size:14px;
    }
}
    video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}
}
.editorial-banner-slot-2{
    @media(max-width:768px){
        
        .amp-dc-banner-pic-wrap .amp-dc-image{
            width: 100%;
        }
    }
    .amp-dc-banner-info{
        position: relative;
    }
    .amp-dc-banner-info-wrap{
        @media(max-width:480px){
         left:28% !important;
        }
    }
    .amp-dc-image{
    //    margin-top: -55px;
    height:595px;
       @media(max-width:480px){
           margin-top:0;
           height:645px;
           object-fit: cover;
       }

    }
    
        .amp-dc-banner-header{
            font-size: 24px;
        }
        .amp-dc-banner-subheader{
            font-size: 48px;
            font-weight: 100;
        }
        .amp-dc-banner-button{
            font-size:14px;
            background: transparent;
            visibility: hidden;
            &:before{
                content:'';  
                visibility: visible;  
                width: 65px;
                height: 65px;
                border-radius: 50px;
                border: 4px solid #fff;
                margin: 0 auto;
                line-height: 65px;
                overflow: hidden;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                position: absolute;
                top: 96.5%;
                left: 33.3%;             
            }
            &:after{
                content:'';            
                visibility: visible;
                position: absolute;
                top:96.5%;
                left:40.5%;
                display: inline-block;
                margin: 12px 0 0 8px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-left-style: solid;
                border-left-width: 33px;
                border-bottom: 20px solid transparent;
                -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
                transition: width 1s, height 1s;
            
            }
        }
    
}
.editorial-banner-slot-6{
    .amp-dc-banner-info{
        background: rgba(255, 255, 255, .76)
    }
    .amp-dc-banner-description{
        color:#706f6f !important;
    }
    .amp-dc-banner-info-wrap {
        width:45%;
        @media(max-width:480px){
            left:10px !important;
            width:100%;
            margin:0 auto;
            top: -8% !important;
        }
    }
    .amp-dc-banner-header{
        font-size:30px;
        @media(max-width:480px){
            font-size: 8.8vmin;
            color: #706f6f;
        }
    }
    .amp-dc-banner-subheader{
        font-style:inherit;
    }
    .amp-dc-banner-description{
        font-size:14px;
        @media(max-width:480px){
            font-size: 4.2vmin;
            color: #706f6f;
        }
    }
}
video {pointer-events: none}
@keyframes bounce {
    0%   {background-color:transparent; left:47%; top:150px;}
    100% {background-color:transparent; left:47%; top:250px;}
  }
  .amp-dc-homepage{
      .amp-dc-block-wrap{
        //   &:nth-child(4){
        //       height: 500px;
        //       background:#fff;
        //       .amp-dc-homepage{
        //       width:878px;
        //       height: inherit;
        //       margin:0 auto;
        //       picture{
        //           margin-top:18px;
        //       }
        //       .amp-dc-block-wrap{
        //           &:nth-child(2){
        //           height: 90px;
        //       }
        //     }
        //     }
        //   }
      }
  }

video::-webkit-media-controls {
    display:none !important;
  }
  .editorial-staticMenu-text {
    color: #fff;
    font-size:15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 60px;
    color: #fff !important;
    text-transform: uppercase;

}
.amp-dc-banner-info{
    @media(max-width:768px){
        // color:#000 !important;
    }
}
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .share-heading{
    font-size: 18px;
    margin: 0;
    font-family: Georgia, serif;
    font-style: italic;
    margin-top:20px;
    margin-bottom: 10px;
  }
  .social-container-bcc{
    padding-top: 16px;
  }
  .flex-align {
    height: inherit;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
.social-icons-bcc {
    display: inline-block;
    background: url('https://www.moltonbrown.co.uk/MBPromoImages/Microsites/SharedImages/Sprites/social-icons.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    height: 25px;
    .icon-fb {
        background-size: 44px;
        width: 15px;
        background-position: -8px -51px;
    }
}
.own-your-block{
    width:878px;
    margin:0 auto;
    height: 595px;
    @media(max-width:768px) {
        width:100%;
        height:100%;
    }
    .amp-dc-block-wrap{
        &:nth-child(1){
          margin-top:18px;
        }
        &:nth-child(3){
         margin-bottom:18px;
        }
    }
    .amp-dc-text{
        text-align: center;
    }
    .play-button{
        height: 300px;
        @media(max-width:480px){
            height: 480px;
        }
        position: relative;
        .art-block{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%);
            .play-video{
                font-size:14px;
                background: transparent;
                visibility: hidden;
                &:before{
                    content:'';  
                    visibility: visible;  
                    width: 65px;
                    height: 65px;
                    border-radius: 50px;
                    border: 4px solid #d7576e;
                    margin: 0 auto;
                    line-height: 65px;
                    overflow: hidden;
                    display: inline-block;
                    text-decoration: none;
                    cursor: pointer;
                    position: absolute;
                    top: 52.5%;
                    left: 12%;
                }
                &:after{
                    content:'';            
                    visibility: visible;
                    position: absolute;
                    top:52.5%;
                    left:25%;
                    display: inline-block;
                    margin: 12px 0 0 8px;
                    width: 0;
                    height: 0;
                    border-color:#d7576e;
                    border-top: 20px solid transparent !important;
                    border-left-style: solid;
                    border-left-width: 33px;
                    border-bottom: 20px solid transparent !important;
                    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
                    transition: width 1s, height 1s;
                    
                }
            }
        }
    }
}
.editorial-container{
    .amp-dc-banner-pic-wrap{
        height:auto;
    }
    .amp-dc-banner .amp-dc-banner-description, .amp-dc-banner .amp-dc-banner-subheader {
        margin-top:0px;
    }
.js_dc_banner{
    @media(max-width:480px){
    //   height:388px;
    }
}
.amp-dc-banner .amp-dc-banner-info-wrap.amp-dc-info-bottom {
    @media(max-width:768px){
        position: absolute;
        top: -90% !important;
      } 
}
}
.editorial-banner-slot-5,.editorial-banner-slot-6{
.amp-dc-banner-info-wrap{
    @media(max-width:768px){
        top: -15% !important;
        width:65%;
      } 
}
}
.align-center{
    align-items: center;
    height: 35px;
}
.georgia{
    font-family:Georgia;
}


.no-padding{
    padding:0;
}

nav.scroll-nav {
    @media(max-width:480px){
display:none;
    }
    position: relative;
    top: 0;
    left: 0;
    background: #d7576e;
    height: 60px;
    line-height: 60px;
    width: 100%;
    z-index: 999;
    .editorial-mainNav {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: table;
        margin: 0 auto;
        li {
            display: table-cell;
                a{
                    margin: auto 10px;
                    @media screen and(max-width:768px) {
                        margin:0px;
                    }
                }
            &.active-nav-link{
                a{
                    padding: 0;
                    display: inline;
                    border-bottom: 1px solid #fff;
            }
        }
        }
    }
}
.editorial-container{
    .amp-dc-block-wrap{
        &:nth-child(2){
            .amp-dc-text{
                margin:0;
            }
        }
    }
    .amp-dc-banner .amp-dc-banner-info-wrap {
        @media(max-width:480px){
        width: 100%;
    }
}
}
.editorial-banner-slot-5,.editorial-banner-slot-6{
    .amp-dc-banner-pic-wrap .amp-dc-image .amp-dc-image-pic {
        @media(max-width:480px){
        display: block;
        height: 570px;
    }
}
}
.container-bcc .social-container-bcc {
    padding-top: 16px;
}
.fb-color {
    background: #3B5998;
}
.social-btn-bcc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    text-decoration: none;
    color: #fff;
    height: 37px;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 12px;
    @media screen and (max-width:768px){
        min-width: 85px !important;
    }
}
.social-icons-bcc {
    display: inline-block;
    background: url('../../../assets/imgs/social-icons.png') no-repeat;
    overflow: hidden;
    /* text-indent: -9999px; */
    /* text-align: left; */
    height: 25px;
}
.icon-fb {
    background-size: 44px;
    width: 15px;
    background-position: -8px -51px;
}
.icon-em {
    background-size: 44px;
    width: 30px;
    background-position: -5px 7px;
}
.icon-tw {
    background-size: 44px;
    width: 28px;
    background-position: -8px -20px;
}
.tw-color {
    background: #1da1f2;
}
.em-color {
    background: #f28d4f;
}
#editorial_template-wrappper{
.js_dc_blog.editorial-banner-2{
    .amp-dc-blog-title{
        padding: 37px 0 65px;
        color:#fff;
    }
    strong{
        font-size: 14px;
    }
    blockquote {
        display: block;
        padding: 0;
        margin: 0 0 50px;
        position: relative;
        line-height: inherit;
        border: none;
        .block{
            font-size:21px;
        }
        +{
        p{
            strong{
                font-size:14px;  
                font-family:Georgia;
            }
        }
    }
}
    .block-desktop{
        display:block;
        font-size: 21px;
    }
    .blockquote-padding {
        padding: 55px 20px 34px 69px;
    }
    .block{
        display:block;
    }
    p {
        z-index: 9;
        position: relative;
        line-height: 1.2;
        font-size: 21px;
        color:#fff;
        span{
            font-size:13px;
        }
    }
    .amp-dc-blog-content{
        margin-top:0 !important;
.amp-dc-block-wrap{
    padding-bottom:35px;
}
        .amp-dc-splitBlock{
    background: rgba(215, 87, 110, .9);
    padding: 0 30px 0 0;
    width: 60%;
    margin:0px auto;
}
}
.amp-dc-card .amp-dc-card-text-wrap{
    background: transparent;
    color:#fff;
    .amp-dc-card-name{
        color:#fff;
        font-size: 13px;  
        font-weight: 600;
        margin:0;
        padding: 0;
    }
    .amp-dc-card-description{
        color:#fff;
        font-size: 13px;  
        font-weight: 100;
        margin:0;
        padding: 0;
    }
}

@media(max-width:768px){
    .amp-dc-splitBlock{
        width:90% !important;
         .amp-dc-split-part{
             float: left !important;
             &.amp-dc-size-50{
             width:50% !important;
         }
         .amp-dc-card-list{
             .amp-dc-card-list-wrap{
                 
                 .amp-dc-card{
                     width:33.33% !important;
                     .amp-dc-card-wrap{
                         margin:0 12%;
                     }
                 }
             }
         }
        }
    }
}
@media(max-width:480px){
    .amp-dc-splitBlock{
        width:95% !important;
         .amp-dc-split-part{
             float: left !important;
             &.amp-dc-size-50{
             width:100% !important;
             &:nth-child(2){}
         }
        }
  
        .amp-dc-card-list {
            .amp-dc-card-list-wrap {
            font-size: 0;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: -25px;
            .amp-dc-card{
                width:33% !important;
                    .amp-dc-image{
                     min-width:33%;
                    }
                
                .amp-dc-card-wrap{
                    margin:0 12%;
                }
            }
        }
    }
    }
}
}
}

.medium-font {
    font-size: 21px;
}
 .georgia {
    font-family: Georgia, serif;
}
.editorial-banner-2{
    width:100%;
    max-width: 100%;
    margin:0;
    padding: 0;
}
/*Editorial splitbanner03 starts*/
.innersplitblock-1{
    .amp-dc-splitBlock{
        .amp-dc-split-part{
            &:nth-child(1){
                position: absolute;
                top: 20%;
                width: 15%;
                left: 40%;
                z-index: 666;
            }
            &:nth-child(2){
              width:100%;
            }
        }
    } 
}
/*Editorial splitbanner03 end*/
.amp-dc-blog{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.editorial-banner-4{
    max-width: 100%;
    margin:0 auto;
    .bg-pic-wrap{
        width:75%;
        margin:0 auto;
    }
}