<div class="editorial-container">
  <div class="breadcrumb-features georgia ">
<div class="container">
  <div class="rowComponents align-center">
        <div class="col-4 text-left no-padding">
                <a  class="features-link color-black" >
                    <i class="georgia">More Stories</i>
                </a>
            </div>
            <div class="col-8 text-right no-padding">
                <a class="color-black georgia">Features</a> / <a ><span class="color-black georgia font-weight-bold">Collections</span></a>
            </div>
  </div>
</div>
</div>
      <div id="editorial_template-wrappper" #editorialTemplatewrapper></div>
      <div class="container text-center justify-content-center">
            <h4 class="share-heading">Share this story</h4>
                <div class="social-container-bcc flex-align justify-center">                    
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.moltonbrown.co.uk/store/features/behind-the-fragrance/jasmine-sun-rose/" target="_blank" data-ajax="false" class="social-btn-bcc social-btn-bcc-ie fb-color">
                        <span class="social-icons-bcc icon-fb" aria-hidden="true"></span>
                    </a>

                    <a href="https://twitter.com/intent/tweet?text=I%20love%20the%20Molton%20Brown%20Jasmine%20and%20Sun%20Rose%20Behind%20the%20Fragrance.%20https%3A//www.moltonbrown.co.uk/store/features/behind-the-fragrance/jasmine-sun-rose/" target="_blank" data-ajax="false" class="social-btn-bcc social-btn-bcc-ie tw-color">
                        <span class="social-icons-bcc icon-tw" aria-hidden="true"></span>
                    </a>

                     <a href="mailto:?Subject=Thought you might like this…&amp;Body=Molton Brown Jasmine and Sun Rose Behind the Fragrance%20https://www.moltonbrown.co.uk/store/features/behind-the-fragrance/jasmine-sun-rose/" target="_blank" data-ajax="false" class="social-btn-bcc social-btn-bcc-ie em-color">
                        <span class="social-icons-bcc icon-em" aria-hidden="true"></span>
                    </a>
                </div>
      </div>
</div>

