
<div *ngIf="stores">
  <agm-map      [latitude]="stores[0].geoPoint.latitude" [longitude]="stores[0].geoPoint.longitude" [scrollwheel]="true" [zoom]="zoom"  [fullscreenControl]='true' [mapTypeControl]='true'>
      <agm-marker     
      *ngFor="let data of stores;let k=index;" 
      [latitude]="data.geoPoint.latitude"
      [longitude]="data.geoPoint.longitude"
      [iconUrl]="data['iconUrl']['url']"
      clickableIcons="true"
      >
      <agm-info-window [disableAutoPan]="false">
              Hi, this is the content of the <strong>info window</strong>
            </agm-info-window>
      </agm-marker>
  </agm-map>
</div>