<h2>
  Order Details
 </h2>
 <div class="orderDetailsServiceNumber">Call customer services Free on +44 (0) 8081781188</div>
 <div *ngIf="orderDetail">
 <div class="orderDetailsBlock" >
 <div class="orderList" >Order Number:<span>{{orderDetail.code}}</span> </div>
 <div class="orderList">Placed on:<span>{{orderDetail.created  | date: 'dd/MM/yyyy hh:mm:ss'}}</span> </div>
 <div class="orderList">Status :<span>{{orderDetail.statusDisplay}}</span></div>
 
 </div>
 <div class="orderDetailsBlock">
  <div class="orderShipTrackInfo">
    <h6>
      Shipment Tracking Information
    </h6>
    <div class="tr header">
 
        <div class="td trackNumber">
Tracking Number
          </div>
          <div class="td deliverOption">
 Delivery Option
          </div>
    </div>
    <div class="tr">
 
        <div class="td">
xxxxx
          </div>
          <div class="td">
 {{orderDetail.deliveryMode.code}}<br>
 {{orderDetail.deliveryMode.description}}
          </div>
    </div>
  </div>
 
 
  </div>
  <div class="orderDetailsBlock">
    <h6>
      Detailed Order Information
    </h6>
    <div class="orderDetailsInfo" >
 
      <div class="tr header">
        <td class="td image"></td>
               <div class="td product">
       Product
                 </div>
                 <div class="td price">
       Price
                 </div>
                 <div class="td quantity">
       Quantity
                 </div>
                 <div class="td total">
       Total
                 </div>
           </div>
           <div class="tr" *ngFor="let deliveryData of orderDetail.entries">
      <td class="td image">
        <img src="http://i1.adis.ws/s/moltonbrown/{{deliveryData.product.code}}_uk_set?$mediumImg$&amp;fmt=webp"  alt="Molton Brown UK " >
      </td>
             <div class="td product">
     {{deliveryData.product.productDisplayName}}
               </div>
               <div class="td price">
     {{deliveryData.product.price.formattedValue}}
               </div>
               <div class="td quantity">
     {{deliveryData.quantity}}
               </div>
               <div class="td total">
     {{deliveryData.totalPrice.value}}
               </div>
         </div>

    </div>
    <div class="finalBlock">
      <div class="OrderSubtotal">
        <div class="innerOrdTotal">Subtotal: <span>
          {{orderDetail.subTotal.formattedValue}}
        </span></div>
        <div class="innerOrdTotal">Delivery:<span>
{{orderDetail.deliveryCost.formattedValue}}
        </span></div>
        <div class="innerOrdTotal">Total:<span>
{{orderDetail.totalPrice.formattedValue}}
        </span></div>
      </div>
    </div>
  </div>
  <div ><p>Repeat order. When repeating an order, only products still available will be added to your basket.</p></div>
  <div>
<button class="buttonStyle ">Repeat Order</button>
  </div>
</div>