.orderDetailsBlock{
    padding: 10px;
    border:1px solid #ccc;
    span{
        font-weight: normal;    line-height: 22px;
        padding-left: 5px;
    }
    &::after{
        clear: both;
    }
    margin-top:20px;
    .orderList,h6,.innerOrdTotal{
        font-size:14px;
        font-weight: 700;
    }
    .OrderSubtotal{
        display: flex;align-items: flex-end;
            flex-direction: column;
        .innerOrdTotal{
            width: 25%;
        }
        margin-top: 20px;
    }
 }
 .orderDetailsServiceNumber{
 display: flex;
 justify-content:flex-end;
 }
 .orderList {
    display: flex;
    min-width: 150px;
 }
 .orderShipTrackInfo,.orderDetailsInfo{
    display: table;
    width: 100%;
    .tr.header{

        .td{
           font-weight:bold !important;
        padding:10px 0; font-size: 14px;
        &.image, &.quantity{
            width:25%;
                    } &.quantity{
                        width:20%;
                                }
        &.product{
width:35%;
        }
        &.price, &.total{
            width:10%;
        }
       &.trackNumber, &.deliveryOption{
           width:50%;
       }
        } 
     
 }
    .tr{
        display: table-row;
        
   
    .td{
        display: table-cell;font-size: 12px;
        text-align: center; }
    }
 }
 p{
     margin-top: 10px
 }
 .buttonStyle{
     float: right;
     margin-top:10px; 
     &::after{
        border-top: 4px solid transparent;
        border-left: 4px solid;
        border-bottom: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 5px;
        visibility: visible;
        width: 0;
     }
 }
