<div class="header-top" [ngClass]="{'mb-menu-ML':toggle,'mb-menu-ML-none':!toggle}">
    <div class="header-container container">
        <div class="rowComponents tab-justify-center">
            <div class="header-top-item">
                <a class="header-top-amptext">{{deliveryText}}<span> Learn more </span> ></a>
            </div>
            <div class="tab-responsive-none ">
                <ul class="header-top-left-menu">
                    <li><a class="storeFinder"><span> FIND A STORE</span></a></li>
                    <li><a (click)="onNewsletterClick()"> NEWSLETTER</a></li>
                    <li class="country-drpdown-list">
                        <a class="dropdown">
                            <a class="store_uk dropdown-toggle" data-toggle="dropdown">CHANGE COUNTRY</a>
                            <ul class="dropdown-menu country-menu">
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-uk'}"><a class="store_us"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('uk')">UK</a></li>
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-us'}"><a class="store_us"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('us')">USA</a></li>
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-eu'}"><a class="store_eu"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('eu')">Europe</a></li>
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-au'}"><a class="store_au"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('au')">Australia</a></li>
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-ge'}"><a class="store_de"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('ge')">Germany</a></li>
                                <li [ngClass]="{'hidden-cls':countryText=='moltonbrown-ge'}"><a class="store_jp"
                                        data-toggle="modal" data-target="#popupcountryChange"
                                        (click)="onCountryChange('ja')">Japan</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="account-dropdown profile">
                        <a (click)="onProfileClick()" (mouseenter)="onHoverProfileIcon()"><span
                                class="header-profile-icon"></span></a>
                        <ul class="acc-menu " *ngIf="loggedIn">
                            <span class="caret"></span>
                            <li><a (click)="onProfileClick()"> My Account</a></li>
                            <li class="logOut" (click)="onSignOut()"><a>LOG OUT</a></li>
                        </ul>
                    </li>
                    <li class="basket" (click)="onViewBasket()" (mouseenter)="onHoverCartIcon()">
                        <div class="shop-menu pull-right">
                            <span class="store_cart" [ngClass]="{'animated':showCartBlock}">
                                <a>
                                    <span class="store_viewCart"></span>
                                    <span class="cart-items">
                                        <span>{{getCartCount()}}</span>
                                    </span>
                                </a>
                            </span>
                            <div class="mb-basketDropdown-content" (mouseleave)="onleaveCart()"
                                [ngClass]="{'hide-cart-cntnt':!showCartBlock,'show-cart-cntnt':showCartBlock}">
                                <!-- <span class="caret"></span> -->
                                <div class="basketDropdownCartHeader">
                                    <h3>YOUR BASKET</h3>
                                </div>
                                <div *ngIf="cartStatus;else emptyCart">
                                    <ul class="cart-list-container" #scrollContainer>
                                        <div>
                                            <li class="basket-items" *ngFor="let entry of cart.entries;let k=index;"
                                                [hidden]="entry.product.price.value ==0" [attr.id]="entry.product.code">

                                                <a class="basket-item-Image">
                                                    <img src="http://i1.adis.ws/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=webp"
                                                        (click)="onShowProduct($event,entry)">
                                                </a>
                                                <div class="basket-item">
                                                    <div class="prod-title">
                                                        <h4 style="width: 100%;">
                                                            <a
                                                                (click)="onShowProduct($event,entry)">{{entry.product.productDisplayName}}</a>
                                                        </h4>
                                                        <div class="de-base-price"><span
                                                                class="product-base-price OneLinkShow"></span></div>
                                                        <!-- <p class="prod-size">Size:&nbsp;<span>300ml</span></p> -->

                                                    </div>
                                                </div>
                                                <div class="prod-qty">QTY:&nbsp;{{entry.quantity}}</div>
                                                <ul class="pricesContainer">
                                                    <span
                                                        class="price-format">{{entry.totalPrice.formattedValue}}</span>
                                                    <a (click)="onSpliceItem($event,entry,k)"
                                                        class="remove-item header-basket-remove-itm"><span></span></a>
                                                </ul>

                                            </li>
                                        </div>

                                    </ul>

                                    <div *ngIf="cart.totalItems !=0">
                                        <div class="sub-total-block">
                                            <div class="sub-total-content">SUB TOTAL</div>
                                            <div class="sub-total-value price-format">
                                                {{cart.totalPriceWithTax.formattedValue}}</div>
                                        </div>
                                        <div class="view-basket-block ">
                                            <span class="basket-btn" (click)="onViewBasket()"> view Basket</span>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #emptyCart>
                                    <div class="basketDropdownCartHeader">
                    <li class="emptycart-list"><span>Basket is empty</span></li>
            </div>
            </ng-template>

        </div>
    </div>
    </li>
    </ul>
</div>
</div>
</div>
</div>


<div class="modal" id="popupcountryChange" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body modal-country-height">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="https://www.moltonbrown.co.uk/images/close_black.png?version=16"></button><br>

                <div class="text-center cg-country">CHANGING COUNTRY?</div>
                <p class="cg-country-sub text-center">You're about to travel away from the UK site.</p>
                <p class="text-center">On the site you're about to visit you'll find the different prices,<br>delivery
                    times and delivery costs for your country so you can<br> shop without doing any tricky maths.</p>
                <p class="text-center">Please be aware that when you move to another site<br> your shopping basket will
                    be emptied.</p>
                <p class="text-center">Love,<br> Molton Brown</p>
                <div class="form-inline text-center">
                    <button (click)="onCancelModal(false)" data-dismiss="modal">Cancel</button>
                    <button (click)="onCancelModal(true)" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>