
@import "../../variable.scss";

.header-top {
    a {
        color: $header-color-white !important;
        font-size: 13px;
        line-height: 13px;
        span{
            font-size: 12px;
            line-height: 12px;
        }
    }
    p {
        margin: 0;
        color:$header-color-white;
    }
    &-item{
        position: relative;
        &:before {
            content: " ";
            display: inline-block;
            height: 100%;
            width: 1%;
            vertical-align: middle;
          }
          a {
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
          }
          padding-top:3px;
    }
    background-color:$primary-color;
    width: 100%;
    min-height: 33px;
    @media screen and(max-width:$screen-sm){
        min-height: 26px !important;
    }
    .header-top-left-menu {
        width: 100%;
        padding-top: 6px;
        margin-bottom: 0;
        text-align: right;
        a {
            font-size: 12px;
            color:$header-color-white;            
            cursor: pointer;
        }
        li {
            display: inline-block;
            padding: 0;
            font-size: 12px;
            line-height: 13px;
            &:nth-child(1) {
                padding-left: 21px;
                padding-right: 10px;
            }
            &:nth-child(2) {
                padding-left: 14px;
                padding-right: 24px;
            }
            &:nth-child(3) {
                padding-left: 0;
                padding-right: 10px;
            }
        }
        .country {
            font-size: 12px;
            line-height: 12px;
            width: auto;
            position: relative;
            &-menu {
                width: 117px;
                padding: 5px 5px 5px 0;
                font-size: 12px;
                z-index:999;
                background: $mb-black;
                top: 20px;
                list-style-type: none;
                cursor: pointer;
                li {
                    color: $header-color-white;
                    width: 100%;
                    padding: 0px 24px;
                    height: 30px;
                    a {
                        width: 100%;
                        text-align: left;
                        color: $header-color-white;
                        text-decoration: none;
                        cursor: pointer;
                        font-size:10px;
                        line-height:10px;
                        font-weight:400;
                        &.store_us {
                            background: url('https://www.moltonbrown.co.uk/images/USflagOver.gif') 0 8px no-repeat;
                            border-radius: 0;
                            padding: 8px 10px 2px 25px;
                            float: left;
                        }
                        &.store_eu {
                            background: url('https://www.moltonbrown.co.uk/images/eu.gif') 0 8px no-repeat;
                            border-radius: 0;
                            padding: 8px 10px 2px 25px;
                            float: left;
                        }
                        &.store_au {
                            background: url('https://www.moltonbrown.co.uk/images/au.gif') 0px 8px no-repeat;
                            border-radius: 0;
                            padding: 5px 10px 2px 25px;
                            float: left;
                        }
                        &.store_de {
                            background: url('https://www.moltonbrown.co.uk/images/de.gif') 0 8px no-repeat;
                            border-radius: 0;
                            padding: 8px 10px 2px 25px;
                            float: left;
                        }
                        &.store_jp {
                            background: url('https://www.moltonbrown.co.uk/images/jp.gif') 0 8px no-repeat;
                            border-radius: 0;
                            padding: 8px 10px 2px 25px;
                            float: left;
                        }
                    }
                }
            }
        }
        .profile {
            position: relative;
            display: inline-block;
            padding: 0px 12px 4px 5px;
            .header-profile-icon {
                background: url('https://www.moltonbrown.co.uk/images/My Account Icon_White.png') 0 6px no-repeat;
                border-radius: 0;
                padding: 8px 12px 4px 11px;
                background-size: 21px;
                position: relative;
            }
        }
        .basket {
            position: relative;
            top: -2px;
            z-index: 999;
            padding: 0 !important;
            .store_cart {
                padding-right: 7px;
                float: left;
                position: relative;
               // overflow: hidden;
            }
            .mb-basketDropdown-content {
                // display: none;
                padding: 20px;
                color: #260e03;
                background: $header-color-white;
                left: -440px !important;
                top: 33px !important;
                width: 482px;
                position: absolute;
                z-index: 9999 !important;
                text-transform: none;
                border: 1px solid #e2e7ea;
                color: #260e03;
                &::after{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-top: 1px solid #c2c2c2;
                    border-right: 0px solid #9c5858;
                    border-bottom: 0px solid #000;
                    border-left: 1px solid #c2c2c2;
                    top: 15px;
                    left: 97%;
                    margin-left: -25px;
                    content: '';
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    margin-top: -25px;
                    background: #ffffff;
                }
                .basketDropdownCartHeader {
                    padding-top: 0;
                    border-bottom: 1px solid #e2e7ec;
                        text-align: left !important;
                    h3 {
                        padding-bottom: 20px;
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: left;
                        color: $mb-black;
                        line-height: 1;
                    }
                    .emptycart-list{
                        padding: 18.4px 0 15px 0;
                    }
                    span{

                        font-size: 1.1em !important;
                    }
                }
                .cart-list-container {
                    max-height: 279px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    li {
                        width: 100%;
                        float: left;
                        border-bottom: 1px solid #e2e7ea;
                        padding-left: 0 !important;
                        span {
                            font-size: 1em;
                        }
                      
                    }
                    .basket-items {
                        position: relative;
                        padding-right:10px !important;
                        .basket-item-Image {
                            width: 26%;
                            padding: 18px 6px !important;
                            float: left;
                            -moz-user-select: none;
                        }
                        .basket-item {
                            width: 35%;
                            padding: 50px 10px 10px 0;
                            float: left;
                            text-align: left;
                            line-height: 12px;
                            p {
                                width: 100%;
                                text-align: left;
                                padding: 10px 0 5px 0;
                                float: left;
                                font-size: 14px;
                                font-family: "Trebuchet MS", arial, sans-serif;
                                color:$mb-black;
                            }
                            a{
                                color:$mb-black !important;
                            }
                        }
                        h4 {
                            line-height: 15px;
                            font-size: 14px;
                            color: $mb-black;
                            min-height: 35px;
                            padding-bottom: 10px;
                            a {
                                font-size: 14px !important;
                                font-family: "Trebuchet MS", arial, sans-serif;
                                line-height: 14px;
                            }
                        }
                        .item-size {
                            width: 100% !important;
                            text-transform: uppercase;
                            color: $mb-black;
                            font-size: 14px;
                        }
                        .prod-qty {
                            width: auto;
                            float: left;
                            line-height: 130px;
                            text-transform: uppercase;
                            font-size: 14px;
                            color: $mb-black;
                        }
                        .pricesContainer {
                            line-height: 130px;
                            color: $mb-black;
                            text-align: right;
                            span.price-format {
                                margin-right: 14px;
                                font-size: 14px;
                            }
                        }
                        .remove-item {
                            background: transparent url('https://www.moltonbrown.co.uk/images/close-icon-black.png') no-repeat;
                            padding: 10px 20px 15px 10px;
                            background-size: 19px;
                            width: 10px;
                            border: 0;
                            outline: 0;
                            position: absolute;
                            top: 56px;
                            right: -7px;
                            cursor: pointer;
                        }
                    }
                }
                .caret {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 2px;
                    vertical-align: middle;
                    border: 0;
                    &:before {
                        border-color: rgba(231, 231, 231, 0);
                        border-bottom-color: #e2e7ea;
                        border-width: 15px;
                        margin-left: -20px;
                        margin-right: -1px;
                        left: 451px;
                        top: -30px;
                    }
                    &:after,
                    &:before {
                        bottom: 100%;
                        right: 20px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: $header-color-white;
                        border-width: 14px;
                        margin-left: -19px;
                        left: 451px;
                        top: -27px;
                    }
                }
            }
            &:hover {
                .mb-basketDropdown-content {
                    display: block;
                }
            }
        }
        .store_viewCart {
            background: url('https://www.moltonbrown.co.uk/images/Basket_Icon_White.png') 1px 6px no-repeat;
            padding: 5px 14px 13px 17px;
        }
        .cart-items {
            position: absolute;
            bottom: 0;
            left: 13px;
            top: 9px;
            color: $mb-black;
            border: 1px solid $mb-black;
            background: #FFF none repeat scroll 0 0;
            border-radius: 50%;
            height: 17px;
            min-width: 16px;
            text-align: center;
            line-height: 16px;
            font-size: 9px;
            padding: 0 3px;
        }
        .cart-items>span{
            font-size:9px;
        }
        .store_richContainer {
            padding: 20px;
            color: #260e03;
            background: $header-color-white;
            left: -435px !important;
            top: 37px !important;
            width: 482px;
            position: absolute;
            z-index: 9999;
            text-transform: none;
            border: 1px solid #e2e7ea;
            .caret {
                border: 0;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
        }
        .store_chevron {
            background: url('https://www.moltonbrown.co.uk/images/btn_checkouts.png') no-repeat right 0;
            height: 25px;
            padding: 17px;
            background: $mb-black;
            width: 150px;
            font-size: 14px;
            text-align: center;
            position: relative;
            right: 125px;
            padding: 10px 25px 28px 24px;
            font-size: 14px;
        }
    }
}

.tab-responsive-block {
    display: none;
}

.tab-responsive-none {
    display: block;
}

.tab-justify-center{
    justify-content: space-between;
}

@media(max-width:$screen-sm) {
    .tab-justify-center{
        justify-content: center;
    }
    .tab-responsive-none {
        display: none;
    }
    .tab-responsive-block {
        display: block;
    }
    .header-starptext {
        text-align: center;
    }
    .header-top{
        text-align: center;
      a span{
               display: none;
            }  
    } 
}

.mb-menu-ML{
    margin-left:65%;
}
.mb-menu-ML-none{
    margin-left:0;
}
.container{
    width:964px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 11px !important;
    padding-right: 11px !important;
    text-rendering: optimizeLegibility;
}

.sub-total-block{
    display:initial;
    font-size:16px;
    div{
        display: inline-block;
        width:50%;
        padding: 10px  0px 15px 0px;
    }
    .sub-total-content{
        text-align: left;
    }
    .sub-total-value{
        text-align:right;
    }

}
.view-basket-block{
    display: block;
    text-align:center;
   .basket-btn{
        font-weight: 400;
        color: $header-color-white;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $mb-black;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        text-transform: uppercase;
       
    }
}
.header-top-amptext{
    .amp-dc-text{
        font-size:13px;
        color:$header-color-white;
        @media screen and(max-width:$screen-sm){
            font-size: 12px;line-height:24px;
        }
    }
}
.country-drpdown-list{
    .dropdown-toggle{
        &:after{
          display: none;   
        }
    }
    .dropdown-menu{
        background-color:$primary-color;
        a{
            &:hover{
                background-color:$primary-color;
            }
        }
    }
}
.profile{
    &:hover{
        .acc-menu{
            display: block;
            a{
                cursor: pointer;
            }
        }
    }
}
.acc-menu{
    min-width: 140px;
    padding: 3px 15px;
    font-size: 12px;
    z-index: 999;
    background: #000000;
    top: 17px;
    list-style-type: none;
    display:none;
    li{
        display: block !important;
        text-align: center;
        padding: 5px 8px !important;
        a{
            color: #fff!important;
            padding: 5px 0px;
            text-decoration: none;
            display: block;
            font-size: 12px;
            text-transform:uppercase;
        }
        &.logOut {
            text-align: center;
            width: 100%;
            border-top: 1px solid #fff;
            a{
                padding-top: 12px!important;
            }
        }

    }
    cursor: pointer;
    .caret {
        position: relative;
        left: 40%;
        transform: translateX(-40%);
    &:after{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 7px 8px;
        border-style: solid;
        border-color: transparent;
        z-index: 1001;
        border-bottom-color: #000;
        top:-17px;
    }
    }
    position: absolute;
    top:30px !important;
    left: 50%;
    transform: translateX(-50%);
}
.header-top-item{
    padding: 5px 0 !important;
    @media screen and (max-width:$screen-sm){
        padding: 0px !important;
    }
    &:before{
        width:auto !important;
    }
    
}
.row-reverse{
    flex-direction: row;
}
.row-reverse-none{
    flex-direction: row-reverse;
}

#popupcountryChange{ 
    .modal-country-height{
        max-height: 208px;
    }
    .modal-dialog {
    width: 480px;
    min-height: 295px;
}
.modal-content{
    position: absolute !important;
    height: 100%;
}
}
.hidden-cls{
    display:none !important;
}
.show-cart-cntnt{
    display:block ;
}
.hide-cart-cntnt{
    display: none;
}
.country-menu{
    top: 5px !important;
    left: -10px !important;
    min-width:116px !important;
}