@import"./renderService.component.scss";
#homeRenderer{ 
.main__inner-wrapper{
    width:934px;
    margin-right: auto;
    margin-left: auto;
    text-rendering: optimizeLegibility;
    padding:0;
    .home-banner-container{
        .amp-dc-banner-description{
            font-style: italic;
            font-family: Georgia;
            font-size: 18px;
        }
}
    @media (min-width:320px) {
        .amp-dc-splitBlock .amp-dc-split-part:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:nth-child(3) .amp-dc-image{
            width: 100% !important ;
            height: auto;
        }
    }
    @media(max-width: 768px){
     width:100% !important;
     .amp-dc-card-img-wrap .amp-dc-image{
         width: 100% !important;
     }
     .amp-dc-banner-pic-wrap .amp-dc-image img{
         height:auto !important;
     }
     .amp-dc-splitBlock .amp-dc-size-50:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image, .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image, .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:nth-child(2) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
         height: auto;
     }
     .amp-dc-homepage .amp-dc-block-wrap:nth-child(3) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
         margin: 0;
         width: 92%;
     }

     .amp-dc-image{
         margin: auto !important;
         height:auto !important;
     }
    }
    @media (min-width:767px) {
        
.amp-dc-banner-pic-wrap {
   
    .amp-dc-image{
     height:500px ;
    img{
    height: inherit;
}
}
}
    }
  
    }
}
    .amp-dc-card-text-wrap {
        padding: 10px 0 0px;
        text-align: center;
        background-color: #fff;
      }

      p {
        padding: 0;
        line-height: 1.2;
    }
    



.amp-dc-splitBlock .amp-dc-size-50:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image
 {
    width:428px;
    height:288.41px;
@media(max-width:768px){
  height:auto;
}
}
    
    .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
        width:428px;
        height:288.41px;  
        @media(max-width:768px){
            height:auto;
          } 
    }    
    .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap {&:nth-child(2) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
        width:428px;
        height:288.41px;   
        @media(max-width:768px){
            height:auto;
          }
    }
}
// .amp-dc-card-img-wrap{
//     .amp-dc-image{
//         width:428px;
//         height:288.41px;
//         img{
//             width:100%;
            
//     height: inherit;
//         }
//     }
// }  

.amp-dc-splitBlock .amp-dc-split-part:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(2) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
       
           width:428px;
        height:513.34px; 
        @media(max-width:768px){
height:auto;
        }
         img{
            width:100%;
            height: inherit;
        }
    }

}
.amp-dc-splitBlock .amp-dc-split-part:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3) .amp-dc-image{
       
           width:428px !important;
        height:158.96px ; 
        @media(max-width:768px){
            width:100% !important;
         margin:0 auto;
        }
         img{
            width:100%;
            height: inherit;
        }
    }

}
.amp-dc-splitBlock .amp-dc-split-part:first-child{
    padding-left:15px; padding-right:11px;
    text-align: -webkit-right;
    // text-align: right;
}
 .amp-dc-splitBlock .amp-dc-split-part:last-child{
    padding-right:15px;
    padding-left: 11px;
}

.amp-dc-splitBlock .amp-dc-split-part:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
       
           width:428px;
        height:286.97px ; 
        margin: 0px;
         img{
            width:100%;
            height: inherit;
        }
    }

}

@media (max-width:768px) {
    .amp-dc-homepage .amp-dc-block-wrap:nth-child(4){
        width:100% !important;
        picture{
            height:175px;
            img{
                height:175px;
            }
        }
    }
}
.amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(4) {
        width: 880px;
        margin: 0 auto;
        .amp-dc-card-link{
            font-size:18px !important;
        }
        @media(max-width:768px){
            padding:15px;
            .amp-dc-image{
                height:175px;
            }
        }
       .amp-dc-card .amp-dc-card-wrap  .amp-dc-card-img-wrap .amp-dc-image{
        height:175px !important;    
        //  margin-left: 27px;
        // margin-right: 27px;
        @media (max-width:768px) {
            margin:0;
            height: -webkit-fill-available; 

            }
        }
    img{
        width:100%;
        height: 175px;
    }       
       } 
     }


.landingpage-container {
    
    width: 934px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;

       .amp-dc-homepage{ 
           &:nth-child(1){
            margin-top:0px;
   
        }
    }
        .amp-dc-block-wrap:last-child{
            .amp-dc-card-link{
                background-color:transparent;
                color:#000 !important;
                text-transform: capitalize;
                width:245px;
                font-family: Georgia;
                font-style: italic;
                &:after {
                    border-top: 5px solid transparent;
                    border-left: 5px solid;
                    border-bottom: 5px solid transparent;
                    content: "";
                    display: inline-block;
                    height: auto;
                    width: auto;
                    margin-left: 3px;
                    vertical-align: baseline;
                    visibility: visible;
                }
            }
        }
    img{
        padding: 0;
    }
    p {
        padding: 0;
        line-height: 1.2;
    }
  
}



.amp-dc-card-link{
    width:auto;
    margin:0 auto;
    background-color:#000;
    text-decoration: none;
    color:#fff !important;
    font-size: 16px;
    padding: 7px 25px 5px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:18px;
    &:hover{
        text-decoration:none;
    }

  }


  
.main__inner-wrapper{
    width:964px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-rendering: optimizeLegibility;
    @media(max-width: 768px){
     width:100%;
    }
    .amp-dc-card-text-wrap {
        padding: 10px 0 0px;
        text-align: center;
        background-color: #fff;
        // width: 70%;
        // margin: 0 auto;
      }

      p {
        padding: 0;
        line-height: 1.2;
    }
    
}

.collection-list-padding {
    padding: 20px 75px;
}

.js_banner_wrap {
    width: 100%;
    max-width: 100%;
}

.mb-image-width {
    width: 100%;
}

.category-title-brands {
    font-size: 12px;
    a {
        
        &:hover {
            color: #000;
        }
    }
}

.lower-right-content {
    margin-right: 13px;
}
.mb-card-container{
    margin-top:20px;
}
.heritage-banner {
    a {
        text-transform: capitalize;
    }
}
.black-color{
    color:#000;
}
.arrow-right{
    &:after {
    border-top: 5px solid transparent;
    border-left: 5px solid;
    border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: auto;
    width: auto;
    margin-left: 3px;
    vertical-align: baseline;
    visibility: visible;
}
}
.banner-text {
    padding-top: 15px;
    text-align: center;
}
.font-medium{
    font-size:18px;
}
.amp-dc-card-img-wrap{
    padding:0 10px;
    @media(max-width:964px){
        padding:0;
    }
}
.hyb_mb-left-card,.hyb_mb-right-content{
    margin-top:15px;
}
.js_nav__link{
    // font-family:@mb-regular;
}
.discover_heritage{
    img{
        height:175px;

    }
    .amp-dc-card {
        .amp-dc-card-link {
            font-size:16px;
            font-family: Georgia,sans-serif;
            font-style: italic;
            display: inline-block;
            padding-right: 0px;
    }
}
}
.amp-dc-card-description{
    width:75%;
    margin:0 auto;
    
}

.collection-list-padding {
    padding: 20px 75px;
}
.js_banner_wrap {
    width: 100%;
    max-width: 100%;
}
.mb-image-width {
    width: 100%;
}
.category-title-brands {
    font-size: 12px;
    a {
        &:hover {
            color: #000;
        }
    }
}

.landingpage-container {
    width: 964px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    .col-lg-6{
        padding:0;
    }
    img{
        padding: 0;
    }
    .right-pad-col {
         padding: 0 11px 0 15px;
     }
     .left-pad-col {
          padding: 0 15px 0 11px;
      }
    .lower-left-content {
        margin-left: 13px;
    }
    .lower-content img.image-no-pad {
        padding: 0 !important;
    }
    .lower-content img {
        width: 100%;
    }
    .banner-text {
        padding-top: 15px;
        text-align: center;
    }
    p {
        padding: 0;
        line-height: 1.2;
    }
    .left-pad-col {
        padding-left: 11px;
    }
}

.heritage-banner {
    a {
        text-transform: capitalize;
    }
}


@media screen and (max-width: 964px) {
    .landingpage-container {
        width: 100%;
        padding:0;
        .js_banner_wrap {
            width: 100%;
        }
        .lower-left-content {
            padding: 0 14px;
            margin: 0 auto;
            width: 92%;
        }
        .lower-right-content {
            padding: 0 14px;
            margin: 0 auto;
            width: 92%;
        }
    }
    .header-wrap {
        .logo {
            width: auto;
        }
        .top-menu {
            display: none;
        }
    }
    .left-pad-col {
        padding: 0;
    }
   
   
}

@media screen and (max-width: 499px) {
    .header-wrap {
        .customer-menu {
            .first-nav,
            .second-nav {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .collection-list-padding {
        padding: 20px 0px 0px 0px;
    }
}
.padding-top-22{
    padding-top:22px;
}
.padding-top-20{
    padding-top:20px;
}


.font-medium {
    font-size: 18px;
}
 .font-small {
    font-size: 14px;
}
.black-bg {
    background: #000;
}
.uppercase{
    text-transform:uppercase;
}
.white-color{
    color:#fff !important;
}

.arrow-right:after {
    border-top: 5px solid transparent;
    border-left: 5px solid;
    border-bottom: 5px solid transparent;
    content: "";
   // display: inline-block;
   display:none;
    height: auto;
    width: auto;
    margin-left: 3px;
    vertical-align: baseline;
    visibility: visible;
}


.amp-dc-card-text-wrap {
    padding: 10px 0 0px;
    text-align: center;
    background-color: #fff;
    // width:75%;
    // margin:0 auto;
  }
//card scss 
.amp-dc-card {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  
    * {
      margin: 0;
      padding: 0;
    }
  
    .amp-dc-hide {
      display: none;
    }
  
    .amp-dc-card-text-wrap {
      padding: 10px 0 0px;
      text-align: center;
      background-color: #fff;
    //   width:75%;
    //   margin:0 auto;
    }
  
    a.amp-dc-card-wrap {
      display: block;
      text-decoration: none;
      &:hover {
        .amp-dc-card-link {
          text-decoration: none;
        }
      }
    }
  
    .amp-dc-card-name {
      font-size: 18px;
      color: #000;
      margin-bottom: 5px;
      font-weight: 600;
      line-height: 20px;
    }
    .amp-dc-card-description {
      font-size: 14px;
      color: #000000;
      display: inline-block;
    }
    .amp-dc-card-link {
      font-size: 16px;
      padding: 7px 25px 5px;
      line-height: 20px;
      display: inline-block;
      text-decoration: none;
    }
  }
  .amp-dc-card-text-wrap{
    font-family:sans-serif;
    overflow: hidden;
  }
  .amp-dc-card-description{
    font-family: Georgia,sans-serif;
    font-style: italic;
  }
  .amp-dc-banner{ 
    .amp-dc-banner-button{
      font-size: 16px;
      padding: 7px 25px 5px;
      line-height: 20px;
  }
}

.amp-homepage-card-slot1,.amp-homepage-card-slot2,.amp-homepage-card-slot3,.amp-homepage-card-slot4,
.amp-homepage-card-slot5{
    .amp-dc-card-link{
      width:145px;
      display:block;
      margin:0 auto;
      background-color:#000;
      text-decoration: none;
      color:#fff;
      font-size: 16px;
      padding: 7px 25px 5px;
      line-height: 20px;
      text-decoration: none;
      text-transform: uppercase;
    }
    img{
        height:288.41px;
        @media (max-width:964px) {
            height: auto;
        }
    }
}
.amp-homepage-card-slot3{
    img{
        height:513.34px;
        @media (max-width:964px) {
            height: auto;
        }
    }
}
.amp-homepage-card-slot5{
    .amp-dc-card-text-wrap
{
    width:75%;
    margin:0 auto;
}
    .amp-dc-card-description{
        display: contents;
        width: 50%;
    }

    .amp-dc-card-link{
        display: inline;
        background:transparent;
        color:#000 !important;
        padding: 0;
        font-size:14px !important;
        font-weight: 700;
        line-height: 1.3;
        font-family: Georgia;
        font-size: 14px !important;
        text-transform: inherit;
        &:after {
            border-top: 5px solid transparent;
            border-left: 5px solid;
            border-bottom: 5px solid transparent;
            content: "";
            display: inline-block;
            height: auto;
            width: auto;
            margin-left: 3px;
            vertical-align: baseline;
            visibility: visible;
        }
    }
    img{
        height:286.97px;
        @media (max-width:964px) {
            height: auto;
        }
    }
}

.amp-homepage-card-slot3{
    ~{
        .lower-content{
    img{
        // width:99.675% !important;
    }}
}
}
.sample-quantity{
    margin-top:10px !important;
    padding: 0px 5px !important;
    font-family: Georgia;
    font-size: 14px;
    color: #000000;
    line-height: 1.2;
    .amp-dc-card-link{
        display: block;
        font-size: 14px;
        color: #000000;
        font-style: italic;
        text-decoration: none;
    font-family: Georgia;
    }
}
.FR-feed-heading {
    font-family: 'Trebuchet', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 22px;
    padding: 24px 0 19px !important;
    margin: 10px auto !important;
    text-align: center;
    a{
        color: #000000 !important;
    }
}
.discover_heritage .amp-dc-card .amp-dc-card-link{
    font-size: 18px;
    font-family: Georgia;
    font-style: italic;
    text-transform: capitalize;
}

.discover_heritage ,.sample-quantity{
    overflow: hidden;
  .amp-dc-card-description{
    display:initial !important;
  }
  .amp-dc-card-link {
    padding-left: 0;
      display: initial !important;
      color: #000 !important;
      font-weight: 400 !important;
      background: none;
      
      &:after {
          border-top: 5px solid transparent;
          border-left: 5px solid;
          border-bottom: 5px solid transparent;
          content: "";
          display: inline-block;
          height: auto;
          width: auto;
          margin-left: 8px;
          vertical-align: baseline;
          visibility: visible;
      }
  }
}

#main_banner{
  .amp-dc-banner-pic-wrap{
    img{
      position: relative;
      left: -27%;
      width: 155%;
    }
  }
  position: relative;
  top: -15%;
}

@media(max-width:768px){
    .right-pad-col{
      padding:0;
    }
.amp-homepage-card-slot2{
  width:100%;
}
}
.mb-menu-margin-left{
    margin-left:65%;
}
.mb-menu-ML-none{
    margin-left:0;
}

/*slick*/

thumbnails-block .slick-slider{
    display: inherit;
}



.slick-slider {
    position: relative;
    margin-bottom: 30px;
    // display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.pick-carousel,
.gift-sample-carousel {
    padding: 0 20px;
    font-size: 1em;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.pick-carousel div.treat-items,
.gift-sample-carousel div.treat-items {
    
    padding: 6px;
    position: relative;
    overflow-y: hidden;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
    display: none;
}

.overlay-sample {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.pick-carousel div.treat-items img,
.gift-sample-carousel div.treat-items img {
    margin: 0 auto;
    width:121px;
    height:121px;
}

.treat-items img {
    height: auto;
    max-width: 100%;
}

.slick-slide img {
    display: block;
}

.pick-carousel div.treat-items p.treat-product-name,
.gift-sample-carousel div.treat-items p.treat-product-name {
    min-height: 46px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 0 5px;
}

.sample-product-info {
    width: 100%;
    padding: 10px 0;
    display: none;
    color: #000;
    position: absolute;
    z-index: 99;
    top: 0;
    height: auto;
    left: 0;
    text-align: center;
    background-color: rgba(234, 232, 232, 0.9);
    div {
        height: 132px;
    }
    + {
        .sample-quantity {
            margin-top: 10px !important;
            padding: 0px 5px !important;
            margin-bottom: 10px;
        }
    }
}

.btn-default.carousel-add-now {
    background-color: #fff;
    color: #464646;
    border: 2px solid #000;
}


.mb_carousel{
    position: relative;
    padding: 6px 6px 0;
    background-color: transparent;
    font-family: verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    *{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
}
}
// .mb-marketing_carousel{
//     margin-top:10%;
// }

.heritage-banner-container{
    width:880px;
    margin:0 auto;
    @media (max-width:964px) {
      width:100%;   
    }
}
.amp-dc-banner{ 
    .amp-dc-banner-header {
    font-size: 27px;
}
.amp-dc-banner-description,.amp-dc-banner-subheader {
    margin-top: 15px;
    font-family:Georgia;
}
}
// .mb-main-margin-left{
//     margin-left:65%;
// }
// .mb-main-ML-none{
//     margin-left:0px;
// }

.pos-absolute-scroll {
    display: none;
    margin: auto;
    width: 200px;
    padding: 20px;
    position: absolute;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    top: 20%;
    text-align:center;
    @media(max-width:768px){
     display:none;
    }
    .scroll-container {
      width: 103px;
      height: 60px;
      margin: 0 auto;
      padding: 20px 0;
      display: block;
  }
  .animated-arrow {
    -webkit-animation: bounce 1.5s ease infinite;
    -moz-animation: bounce 1.5s ease infinite;
    animation: bounce 1.5 ease infinite;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid;
    margin: 0 auto;
  }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(0px);} 
    60% {transform: translateY(-5px);} 
  }
  .home-banner{
      @media(max-width:768px){
      .amp-dc-banner-header{
          color:#000 !important;
      }
      .amp-dc-banner-subheader{
        color:#000 !important;
      }
    }
  }