
    <div id="homeRenderer" [ngClass]="{'mb-main-margin-left':toggleMenu,'mb-main-ML-none':!toggleMenu}" (scroll)="scrollHandler($event)">
            <div class="pos-absolute-scroll">
                    <a class="scroll-container scrollDown">
                        <span class="uppercase block black-color">Scroll Down</span>
                        <div class="arrow-down animated-arrow"></div>
                    </a>
                </div>
        <div  *ngIf="renderingServ;else moltonTemplate" class="landingpage-container main__inner-wrapper home_template-wrappper" id="home_template-wrappper" [ngClass]="{'amp-rendering-container':renderingServ,'amp-rendering-none':!renderingServ}">
            </div>
            <ng-template #moltonTemplate>
                <div class="landingpage-container main__inner-wrapper " [ngClass]="{'amp-rendering-container':renderingServ,'amp-rendering-none':!renderingServ}">
                <!-- <app-banner></app-banner> -->
                <div class="home-banner"></div>
                <div class="rowComponents">
                <div class="col-sm-12">          
                <div class="row " id="freshElement_carousel"> 
                        <div class="tmspslot" style="width: 100%;" data-k="qa5buoy" data-slid="uk-hp-prod-feed" data-p="1" ></div>
                        <div class="tmspslot" style="width:100%;" data-k="qa5buoy" data-slid="uk-free-delivery" ></div>          
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 right-pad-col">
                    <div class="lower-left-content " >
                        <div class="lower-content amp-homepage-card-slot1 padding-top-22"></div>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12 left-pad-col">
                    <div class="lower-right-content ">
                        <!-- Banner 3 Sale Hand sets -->
                        <div class="lower-content amp-homepage-card-slot2 padding-top-20"></div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-12 right-pad-col">
                    <div class="lower-left-content ">
                        <div class="lower-content amp-homepage-card-slot3 padding-top-22"></div>
                        <div class="lower-content padding-top-20">
                            <img src="https://www.moltonbrown.co.uk/MBPromoImages/Microsites/USP-Animation/WithDelivery/USP-Animation_UK.gif"
                                class="image-no-pad usp-animation" alt="USP Animation">
                        </div>
                    </div>
                </div>
            
            
            
                <div class="col-lg-6 col-md-12 left-pad-col">
                    <div class="lower-right-content ">
                        <div class="lower-content amp-homepage-card-slot4 padding-top-22"></div>
            
                        <div class="lower-content padding-top-22 amp-homepage-card-slot5"></div>
                    </div>
                </div>
            </div>
            
            <div class="padding-top-22 justify-content-center">
                <div class="heritage-banner-container">
                    <div class="lower-content heritage-banner discover_heritage"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
            </ng-template>
    </div>        