
.home_template-wrappper{
.amp-dc-banner-pic-wrap {
   
    .amp-dc-image{
height:500px ;
    img{
    height: inherit;
}
}
}

.amp-dc-splitBlock .amp-dc-size-50:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image
 {
    width:428px;
    height:288.41px;
@media(max-width:768px){
  height:auto;
}
}

    
    .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap:first-child .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
        width:428px;
        height:288.41px;  

        @media(max-width:768px){
            height:auto;
          } 
    }    
    .amp-dc-splitBlock .amp-dc-size-50:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap {&:nth-child(2) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
        width:428px;
        height:288.41px;   
        @media(max-width:768px){
            height:auto;
          }
    }
}


.amp-dc-splitBlock .amp-dc-split-part:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(2) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
       
           width:428px;
        height:513.34px; 
         img{
            width:100%;
            height: inherit;
        }
    }

}
.amp-dc-splitBlock .amp-dc-split-part:first-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3){
        width:428px;
        margin:0 auto;
       padding-top:25px;
       @media(max-width:768px){
        width:100%;
        img{
            height:auto !important;
        }
       }
         .amp-dc-image{
           width:428px !important;
        height:158.96px ; 
        margin-left:0;
        @media(max-width:768px){
            height:100% !important;
            width:100% !important;
            margin:0 auto;
        }
         img{
            width:100%;
            height: inherit;
        }
    }
}

}
.amp-dc-splitBlock .amp-dc-split-part:first-child{
    padding-left:15px; padding-right:11px;
    text-align: -webkit-right;
    // text-align: right;
}
 .amp-dc-splitBlock .amp-dc-split-part:last-child{
    padding-right:15px;
    padding-left: 11px;
}

.amp-dc-splitBlock .amp-dc-split-part:last-child .amp-dc-split-part-wrap .amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3) .amp-dc-card .amp-dc-card-wrap .amp-dc-card-img-wrap .amp-dc-image{
       
           width:428px;
        height:286.97px;
        @media(max-width:768px) {
            height:auto !important;
        } 
        margin: 0px;
         img{
            width:100%;
            height: inherit;
        }
    }

}
.amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3) {
   
       .amp-dc-card {
           .amp-dc-card-wrap{ 
                .amp-dc-card-img-wrap {
                    .amp-dc-image{
                    width: 880px;
                    height:175px ;    
                    // margin-left: 27px;
                    // margin-right: 27px;
                    @media (max-width:768px) {
                        margin:0;
                        height: -webkit-fill-available; 
                    }
                    img{
                        width:100%;
                        height: inherit;
                    }       
               }
          } 
        }
         .amp-dc-card-link{
             font-size:16px !important;
         }
     }
     }
}
}
.landingpage-container {
    width: 934px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;

       .amp-dc-homepage{ 
           &:nth-child(1){
            margin-top:0px;
   
        }
        &:nth-child(2){

        }}
        .amp-dc-block-wrap:last-child{
            .amp-dc-card-link{
                background-color:transparent;
                color:#000 !important; 
                &:after {
                    border-top: 5px solid transparent;
                    border-left: 5px solid;
                    border-bottom: 5px solid transparent;
                    content: "";
                    display: inline-block;
                    height: auto;
                    width: auto;
                    margin-left: 3px;
                    vertical-align: baseline;
                    visibility: visible;
                }
            }
        }
    img{
        padding: 0;
    }
    p {
        padding: 0;
        line-height: 1.2;
    }
  





.amp-dc-banner{
     .amp-dc-banner-header {
    font-size: 27px;
}
.amp-dc-banner-description,.amp-dc-banner-subheader {
    font-size: 20px;
    font-family:Georgia;
    font-style: italic;
    text-transform: capitalize;

}
}
.amp-dc-banner-button {
    background-color:#000 !important;
    color:#fff;
}


}


#homeRenderer{
    .amp-dc-card-list{
        // margin:0px 5px 0px 43px;
   .amp-dc-card-wrap {
        margin: 0 0 10px 5px;
    }
}
.amp-dc-prod-3-rows {
.amp-dc-card-list-wrap{
    margin-left:auto;
}
.amp-dc-card-title{
margin-top:5px;
}
    .amp-dc-card {
    width: 16.33%;
    @media(max-width:768px){
        width: 50%;
    }
    .amp-dc-image{
        height: 121px;
        width: 121px;
        margin: 0 auto;
        @media (max-width:768px) {
             width:100%;
              height:100%;
        }
    }
    .amp-dc-card-name{
    font-family: 'Trebuchet','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    margin-top: 0px;
    padding: 0px 5px;
    font-size: 14px;
    font-weight:400;
    line-height: 1.2;
    text-transform: capitalize !important;
    height:65px;
}
.amp-dc-card-link{
    padding-right: 0px;
    background-color:transparent;
    color:#000 !important;
    padding-left:0;
    font-style: italic;
    text-decoration:none;
    font-size:14px;
    font-family: Georgia;
    font-style:italic;
    font-weight:400;
    line-height: 17px;
    text-transform: capitalize;
    &:after {
        border-top: 5px solid transparent;
        border-left: 5px solid;
        border-bottom: 5px solid transparent;
        content: "";
        display: inline-block;
        height: auto;
        width: auto;
        margin-left: 3px;
        vertical-align: baseline;
        visibility: visible;
    }
}
}
}
}
.landingpage-container{
.amp-dc-homepage .amp-dc-block-wrap{
    &:nth-child(3){
        .amp-dc-splitBlock{
           .amp-dc-split-part{
            &:nth-child(2){
                .amp-dc-image{
                    margin-left:0px !important;
                }
                .amp-dc-block-wrap{
                    &:last-child{
                        .amp-dc-card-text-wrap{
                            width:75%;
                            margin:0 auto;
                        }

                        .amp-dc-card-description{
                            display: contents;
                            width:50%;
                        }
                        .amp-dc-card-link{
                            display: inline !important;
                            width: 40%;
                            padding: 0;
                            font-weight: 700;
                            line-height: 1.3;
                            font-family: Georgia;
                            font-size: 14px;
                            text-transform: inherit;
                        }
                    }
                }
            }
            }
        }
    }

}
.amp-dc-splitBlock{
    .amp-dc-card-link{
        
    display: block !important;
    width: 145px;
    margin: 0 auto;
}
}
.amp-dc-splitBlock{
    @media(max-width:768px){
     padding:15px;
    }
    @media(max-width:475px){
        padding: 8px;
    }
}

#uk-hp-prod-feed-fr_carousel{ 
    .slick-prev{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        left: -55px !important;
    }
    .slick-next{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        right:-25px !important;
    }
}
@media only screen and (max-width: 690px) and (min-width: 1px){
#uk-hp-prod-feed-fr_carousel .product .product_name {
    height: 55px !important;
}
}
.imagecontainer{
     .van-aimation {
            position: absolute;
            background-image: url('https://www.moltonbrown.co.uk/MBPromoImages/Microsites/SharedImages/FreeDelivery/animated-van.gif') !important;
    }
}
}
.product_cta{
    a{
        font-family: Georgia;
    }
}