

<section class="checkout-middle-content contentOverlay">

    <div class="container">
        <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
        <div class="rowComponents asideMenuMobile">
            <aside class="leftColumn col-md-3 hidden-xs account" style="margin-top:15px;">
    <h2 class="facet_header">MY ACCOUNT</h2>
<ul>
<li (click)="onContentClick('profile')"><a>My Profile</a></li>
<li (click)="onContentClick('address')"><a >Address Book</a></li>
<li (click)="onContentClick('payment')"><a >Payment Details</a></li>
<li (click)="onContentClick('favourites')"><a >Favourites</a></li>
<li (click)="onContentClick('history')"><a >Order History</a></li>
</ul>
</aside>
<div class=" rightColumn">
   <router-outlet></router-outlet>
</div>
</div>
</div>
</section>