#landingpage-conatiner .main__inner-wrapper{
            width:934px;
    margin-right: auto;
    margin-left: auto;
    text-rendering: optimizeLegibility;
    @media screen and (max-width:768px) {
        width: 100%;
    }
        .amp-dc-homepage .amp-dc-block-wrap{
                .home-banner-container{
                    .amp-dc-banner-pic-wrap{
                        .amp-dc-image{
                            height:500px;   @media screen and (max-width:768px) {
                                    height: auto;
                                }
                            img{
                                width:100%;
                                height:100%;
                             
                            }
                        }
                    }
                    
                }
                .amp-dc-splitBlock{
                    display:flex !important;
                    justify-content: center !important;
                    
    @media screen and (max-width:768px) {
                    flex-direction: column;
    }
                    .amp-dc-split-part{
                        float: none ;
                        .amp-dc-split-part-wrap{
                            .amp-dc-homepage {
                                .amp-dc-block-wrap{

                                    .amp-dc-card{
                                        .amp-dc-card-wrap{
                                            .homepage-rightsection-card-image-03{
                                                width:428px;
                                                height: 286.97px;
                                                @media screen and(max-width:768px) {
                                                    margin: auto;
                                                    width:95%;height:auto;
                                                }
                                            }
                                        }
                                    }
                                    .amp-dc-image {
                                        width:428px;
                                        height:158.95px;
                                        @media screen and(max-width:768px) {
                                            margin: auto;
                                            width:95%;height:auto;
                                        }
                                    }
                                }
                            }
                            .amp-dc-card{
                                .amp-dc-card-wrap{
                                    .amp-dc-card-img-wrap{
                                        margin-top: 20px;
                                        margin-left: 11px;
                                        margin-right: 11px;
                                        .homepage-leftsection-card-image-01,.homepage-rightsection-image-01,.homepage-rightsection-card-image-02{
                                            width:428px;
                                            height:288.41px;
                                            @media screen and(max-width:768px) {
                                                margin: auto;
                                                width:95%;height:auto;
                                            }
                                        }
                                        .homepage-leftsection-card-image-02{
                                            width:428px;
                                            height:513.34px; 
                                              @media screen and(max-width:768px) {
                                                margin: auto;
                                                width:95%;height:auto;
                                            }
                                        }

                                    }
                                }
                            }

                        }
                    }
                }
                .misc-banner-01 .amp-dc-card-wrap{
.amp-dc-card-img-wrap .amp-dc-image{
                    width:880px;
                    height:175px;
                    margin: auto;
                    @media screen and (max-width:768px){
                        width:95%;
                        margin:auto;height:auto;
                    }
                    img{
                        width: 100%;
                    }

                }
                .amp-dc-card-text-wrap .amp-dc-card-link{
                    color: #000;
    line-height: 21px;font-family: Georgia;font-style:italic;
    font-size: 18px;background-color: transparent;padding-top: 0px;
                }
                } 
            }
        








            @media only screen and (max-width: 690px) and (min-width: 1px){
                #uk-hp-prod-feed-fr_carousel .product .product_name {
                    // height: 55px !important;
                }
                }
                .imagecontainer{
                     .van-aimation {
                            position: absolute;
                            background-image: url('https://www.moltonbrown.co.uk/MBPromoImages/Microsites/SharedImages/FreeDelivery/animated-van.gif') !important;
                    }
                }





    }

.amp-dc-card .amp-dc-card-name{
    font-size :18px;
    line-height: 20px;
    color:#000;font-weight:700;margin-bottom: 4px;
}
.amp-dc-card .amp-dc-card-description{
    font-style: italic;
    font-family: Georgia;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 1.2;display:block ;color: #000000
}
.amp-dc-banner .amp-dc-banner-header {
    font-size: 28px;
    padding-bottom: 11px;
    color: #000;
    font-weight: 500;
    line-height: 1.1;
}
.amp-dc-banner .amp-dc-banner-subheader {
    font-size: 20px;
    font-style: italic;
    font-family: Georgia;
    line-height: 1.2;
}
.amp-dc-card-text-wrap .amp-dc-card-link{
    font-size: 16px;
    padding: 7px 25px 5px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;

}
.amp-dc-splitBlock .amp-dc-split-part.amp-dc-size-50 {
    width: auto;
}
@media screen and (max-width: 768px){
    .amp-dc-splitBlock .amp-dc-split-part:first-child {
    padding: 0;
}
}
.amp-dc-card .amp-dc-card-text-wrap{
    padding:10px 0 0 0;
}

.amp-dc-card .amp-dc-card-link {
    margin-top: 0px !important;
}
.amp-dc-card .amp-dc-card-description{
    margin:0 auto;
}

#uk-hp-prod-feed-fr_carousel{ 
    .slick-prev{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        left: -55px !important;
    }
    .slick-next{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        right:-25px !important;
    }
}
#uk-hp-prod-feed-fr_carousel .product .product_image img {
    width: 121px;
    height: 121px;
    margin: auto;
}