<section class="my-account" >
  <div class="rowComponents">
   <div class="balanceDetail">
     
      <div class="sheet" >
          <h2>Your Card Details</h2>
          <div class="sheetHeader">
              <div class="sheet-cell">Registered Name</div>
              <div class="sheet-cell">Gift Card Number</div>
              <div class="sheet-cell">Current Balance</div>
          </div>
          <div class="sheetBody">
              <div class="sheet-cell">Registered Name</div>
              <div class="sheet-cell">Gift Card Number</div>
              <div class="sheet-cell">Current Balance</div>
          </div>
      </div>

      <div class="sheet" >
          <h2>Your Recent Transactions</h2>
          <div class="sheetHeader">
              <div class="sheet-cell">Registered Name</div>
              <div class="sheet-cell">Gift Card Number</div>
              <div class="sheet-cell">Current Balance</div>
          </div>
          <div class="sheetBody">
              <div class="sheet-cell">Registered Name</div>
              <div class="sheet-cell">Gift Card Number</div>
              <div class="sheet-cell">Current Balance</div>
          </div>
      </div>

   </div>
  </div>
</section>