<div *ngIf="billingAddress;else changeBillingAddress">
  <section>
  <div class="section-heading"><h2>Your billing address</h2></div>
  <div style="display:block">
  <div class="payer-saved-address clearfix">
   
    <div>
        <div class="saved-address clearfix">
            <p>{{shippingAddress.customerAddress.line1}}<br>
              {{shippingAddress.customerAddress.line2}}<br>
              {{shippingAddress.customerAddress.town}}<br>
              {{shippingAddress.customerAddress.postalCode}}<br>
              {{shippingAddress.customerAddress.country.name}}<br>
              <span *ngIf="shippingAddress.customerAddress.phone">{{shippingAddress.customerAddress.phone}}</span>
             </p>
              <a class="change-address-btn" title="Change billing address" (click)="onChangeBillingAddress()">Change billing address</a>
                                            </div>
        <div class="form-group form-checkbox" >
            <div class="checkbox">
                <input style="padding-top: 0px;" type="checkbox" value="true" class="checkbox" checked >
                <label for="passwordRadios2">This is my correct billing address.*</label>
            </div>
        </div>
    </div>
  <section class="mb-personal-details">
  <form [formGroup]="cardDetailForm" (ngSubmit)="oncheckoutContinue($event)">
  <fieldset style="border-bottom: 1px solid #ccc;">
    <legend>Where do you want us to ship to?</legend>
  <div>
     <span class="custom-dropdown big">
     <select formControlName="cardType" (change)="onChangeCardType($event)">
           <option value=""  selected >Card Type*</option>
           <option value="master">Mastercard</option>
           <option value="amex">American Express</option>
           <option value="visa" >Visa</option>
           <option value="visa_debit">Visa-Debit</option>
           <option value="v_pay">V-Pay</option>
           <option value="mastercard_debitt">MasterCard Debit</option>
     </select>
     </span>
  </div>
  <div class="form-group">
    <label class="sr-only">Card Number</label>
    <input formControlName="cardNumber" autocorrect="off" autocomplete="off" placeholder="Card number*" type="text" class="form-control  mandatory" required
           [ngClass]="{'has-error  not-valid': !cardDetailForm.get('cardNumber').valid && cardDetailForm.get('cardNumber').touched,'valid':cardDetailForm.get('cardNumber').valid,'invalid':!cardDetailForm.get('cardNumber').valid}" >
           <!-- <div *ngIf="!cardDetailForm.controls['cardNumber'].valid&&cardDetailForm.controls['cardNumber'].value.length ==0 " class="alert alert-danger">touched</div> -->
           <!-- <div *ngIf="cardDetailForm.controls['cardNumber'].errors && (cardDetailForm.controls['cardNumber'].dirty || cardDetailForm.controls['cardNumber'].touched)" class="alert alert-danger"> ndjnj errroe </div> -->
          </div>
  <div class="form-group">
         <label class="sr-only">Card Holder First Name</label>
         <input formControlName="firstName" autocomplete="off"  placeholder="Card holder first name*" type="text" class="form-control  mandatory "
            [ngClass]="{'has-error  not-valid': !cardDetailForm.get('firstName').valid && cardDetailForm.get('firstName').touched,'valid':cardDetailForm.get('firstName').valid,'invalid':!cardDetailForm.get('firstName').valid}" required>
   </div>
   <div class="form-group">
          <label class="sr-only">Card last Name</label>
          <input formControlName="lastName" autocomplete="off" placeholder="Card holder last name*" type="text" class="form-control  mandatory "
            [ngClass]="{'has-error  not-valid': !cardDetailForm.get('lastName').valid && cardDetailForm.get('lastName').touched,'valid':cardDetailForm.get('lastName').valid,'invalid':!cardDetailForm.get('lastName').valid}" required>
   </div>
   <legend>Expires</legend>
   <div class="monthYearAlign">
   <span class="custom-dropdown big" >
    <select formControlName="month" autocomplete="off">
             <option value="" disabled selected style="display:none;">Month*
             <option *ngFor="let month of expireMonth;">{{month.month}}</option>
    </select>
   </span>
   <span class="custom-dropdown big" >
    <select formControlName="year" autocomplete="off" >
       <option value="" disabled selected style="display:none;">Year*
       <option *ngFor="let month of expireYear;">{{month.year}}</option>
    </select>
   </span>
   </div>
   <div class="form-group securityCode">
           <label class="sr-only">Cvv</label>
            <input   autocomplete="off" formControlName="cvv"  placeholder="Security code" type="text" class="form-control  mandatory"
              [ngClass]="{'has-error  not-valid': !cardDetailForm.get('cvv').valid && cardDetailForm.get('cvv').touched,'valid':cardDetailForm.get('cvv').valid,'invalid':!cardDetailForm.get('cvv').valid}" required>
              <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="This is the last three digits on the back of your credit card, or for AMEX this is the 4 digits on the front of your card."  show-delay="500" placement="right" ></a>
            </div>
   </fieldset>
   <section class="save_details" *ngIf="currentUser">
   <fieldset>
      <legend> Save your details for next time? (optional)</legend>
          <div class="checkbox">
              <input  type="checkbox" class="checkbox" [checked]="termsMoltonbrown"  >
              <label  >  Save your payment details for next time.</label>
          </div>
  </fieldset>
</section>
   <app-mb-terms [formType]="cardDetailForm" *ngIf="showSubmitBtn"></app-mb-terms>
   </form>
  </section>
  </div>
 </div>

 </section>
 </div>

 <ng-template #changeBillingAddress>
    <form>
      <div class="form-group">
        <div class="form-inline">
          <div class="form-group"> 
          <select  class="mandatory form-control"   (change)="onChangeCountry($event)" >
            <option *ngFor="let data of countries;let k=index;" [ngValue]="data" >{{data.name}}</option>
          </select>
        </div>
        <span *ngIf="ukSpecificForm">
          <span class="help-block inline postcodesearchreset" *ngIf="!manualAdress" style="display: inline;" >
            <a (click)="onSearchByPostal()">Search using postcode</a>
          </span>
        </span>
        </div>
    </div>
    </form>
 </ng-template>
 <div   [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}" >
   <app-loader></app-loader>
</div>
