<div class="clearfix">
    <section class="basket-section">
        <div class="basket-heading">
            <div class="rowComponents justify-contents" [hidden]="!showExpress">
                <div class=" express-check-out expressCheckoutButton pull-right">
                    <input type="submit" class=" clearfix" (click)="onExpressCheckout()" value="Express CHECKOUT">
                </div>
            </div>
            <div class="rowComponents">
                <h1 class="col-md-5"> Samples & gift box</h1>
                <div class=" col-sm-6 col-md-3">
                    <a class="continue-shopping " (click)="onContinueShoppingEvent() "><span></span>CONTINUE
                        SHOPPING</a>
                </div>
                <div class="express-check-out">
                    <input id="chkOut" type="submit" class="pull-right clearfix" (click)="onSecureCheckout()"
                        value="SECURE CHECKOUT" style="opacity: 1;">
                </div>
            </div>
        </div>
        <div class="orders-container">
            <legend>Thanks for shopping with us. Please choose a FREE sample.</legend>
            <div class="gift-sample-carousel ">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let slide of slides;let k=index;trackBy " class="slide">
                        <div class="treat-items slick-slide slick-current sample "
                            [ngClass]="{'sample-disabled':slide.status=='pending','sample-active':slide.added=='added'}">

                            <img src="http://i1.adis.ws/i/moltonbrown/{{slide.code}}?$smallImg$&amp;fmt=webp">
                            <p class="text-center treat-product-name">
                                {{(slide.productDisplayName)?slide.productDisplayName:slide.name}}</p>

                            <div class="sample-product-info" [ngClass]="{'sample--block':slide.action,'sample--hide':!slide.action}">
                                <div >{{slide.description}}</div>
                            </div>
                            <p class="text-center sample-quantity">
                                <a class="sample-info-tooltip showsInlineBlock"
                                    [ngClass]="{'sample-info-tooltip':!slide.action, 'close-sample-info':slide.action}"
                                    (click)="showTooltip($event,k)"></a>
                            </p>
                            <p class="text-center sample-quantity">30ml sample</p>
                            <p class="text-center sample-quantity">
                                <button (click)="onAddItem(slide,k)" class="btn-default carousel-add-now "
                                    [ngClass]="{'sample--block':!slide.disabled,'sample--hide':slide.disabled}"
                                    [disabled]="slide.status=='pending'">Add</button>
                                <button (click)="onRemoveItem(slide,k)" class="btn-default carousel-remove-now "
                                    [ngClass]="{'sample--block':slide.disabled,'sample--hide':!slide.disabled}">Remove</button>
                            </p>

                        </div>
                    </div>
                </ngx-slick-carousel>

            </div>
        </div>

        <div class="section-giftmessage">
            <img src="https://www.moltonbrown.co.uk//MBPromoImages/CheckoutGraphics/gift-boxes-v2.jpg">
            <legend>Would you like a FREE gift box and gift message?</legend>
            <div class="form-group form-checkbox">
                <div class="checkbox">
                    <input style="padding-top: 0px;" type="checkbox" class="checkbox"  [(ngModel)]="giftBox" (change)="onGiftBoxSChecked($event)">
                    <label for="passwordRadios2">Yes, I would like a gift boxed.</label>
                </div>
            </div>
            <div class="form-group form-checkbox">
                <div class="checkbox">
                    <input style="padding-top: 0px;" type="checkbox" class="checkbox" (change)=showTextarea($event) [disabled]="!giftBox" [(ngModel)]="giftMsg">

                    <label for="passwordRadios2">Yes, I would like to provide a gift message.</label>
                </div>

            </div>
            <div class="from-group gift-message " [ngClass]="{'shows':tooltipMsg,'hides':!tooltipMsg}">
                <textarea maxlength="250" rows="5" [(ngModel)]="giftText"
                    placeholder="Please enter a message up to 250 characters (including spaces)*"
                    class="form-control gift-msg" (input)="onChangeText($event)"></textarea>
                <div class="giftMessageChar">({{textlength}})</div>

            </div>


        </div>
    </section>

    <div class="basket-footer-container">
        <div class="text-uppercase security-label" style="opacity: 1;">SECURITY GUARANTEED</div>
        <div class="payment-gateway-icons rowComponents" style="opacity: 1;">
            <a class="norton-secure" target="new"></a>
            <span class="visa-secure" href="#"></span>
            <span class="master-card" href="#"></span>
            <span class="american-express" href="#"></span>
            <span class="vpay-secure" href="#"></span>
            <span class="paypal-secure" href="#"></span>
            <span class="mb-secure" href="#"></span>
        </div>
        <div class="order-subtotal" style="opacity: 1;" *ngIf="cart">
            <span> Subtotal</span>
            <span class=""> {{cart.totalPriceWithTax.formattedValue}}</span>
        </div>
        <div class="pull-right  clearfix">
            <div class="pull-right express-check-out"><input id="chkOut" type="button" value="SECURE CHECKOUT"
                    style="opacity: 1;" (click)="onSecureCheckout()"></div>
        </div>
    </div>

</div>