<div class="my_account cardRegistration">
    <h2 class="title">Card Lost or Stolen</h2>
    <div class="clearboth pt-10"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros erat, condimentum blandit bibendum adipiscing, vehicula sed enim. Vestibulum mattis mauris id nisi sodales non vehicula nunc commodo. Morbi eleifend enim vel orci sagittis eu imperdiet est feugiat.  </p>


    <div class="borderWrapper ">
        <p class="title">Registered Cards</p>
        
        <table class="givex">
          <thead>
            <tr>
              <th>Registered Name</th>
              <th>Card Number</th>
              <th>Current Status</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        
          <tbody>
            </tbody>
        </table>
        
      </div>

  </div>
