.cc-stores-list-view {
    background-color: #fff;
    padding: 15px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #c2c2c2;
    margin-bottom: 20px;
    .cc-store-list-item {
        padding: 10px 0;
        border-bottom: 1px solid #c2c2c2;
        position: relative;
        &.unavailable {
            .cc-store-address {
                color: #c2c2c2;
            }
        }
        .cc-store-address {
            color: #000000;
            width: 300px;
            float: left;
            h5 {
                margin: 0 0 5px 0;
                color: #000;
                font-weight: bold;
            }
            .ccprice {
                margin: 0;
            }
         
        }
        .cc-store-distance {
            text-align: right;
            padding-bottom: 50px;
            img {
                height: 35px;
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 1rem; 
            }
            .btn-default {
                position: absolute;
                bottom: 10px;
                right: 0;
            }
        }
    }
}