<section class="checkout-middle-content staticContainer contentOverlay" style="margin-top:25px;">

    <div class="container">
        <div class="rowComponents">
            <aside class="leftColumn hidden-xs account" >
                <h3 class="facet_header">MOLTON BROWN CAREERS</h3>
                <ul class="medium-aside-menu" >
                    <li >
                        <a> Search & Apply</a>

                    </li>
                </ul>
              </aside>
              <div class="rightColumn" id="renderAmpStaticContent" #careerEl>
              </div>
          </div>
          </div>
  
      </section>