
<div class="nav-bar no-margin tab-hide" >
  <div class="mainmenu">
      <ul class="nav justify-content-center ">
          <li class="sub-dropdown  dropbtn mb-productCategory"    (mouseleave)="onmouseLeave()"
          [ngClass]="{'dropbtn-bg':item.bg,'dropbtn-bg-none':!item.bg,'hide-menu-cntnt':!item.name}"  
                  *ngFor="let item of menuData; let i = index" (click)="onShowMbCategoryProduct($event,item)" (mouseenter)="onHoverCategory(item,i)" [hidden]="item.order ==100 ">
                  <a  style="text-decoration:none;"  >{{(item.categoryDisplayName)?item.categoryDisplayName:item.name}}</a>
                  <div class="sub-menu edi-block"  [ngClass]="{'submenu-ds-block':item.bg,'submenu-ds-none':!item.bg}" >

           <div *ngIf="item.categoryDisplayName !='Editorial';else editorialblock" class="innerDivSubMenu column-height-h">
                      <div class="menu-block  column-height"*ngFor="let subData of item.subcategories;let kSub =index;" >
                            <h3 class="data "  (click)="onShowcategory($event,subData)"  [ngClass]="{'active-header':subData.titleName}">{{item.subcategories[kSub].categoryDisplayName}}</h3>  
                            <h3  class="data menu-lvl-3" *ngFor="let subMiniData of subData.subcategories" (click)="onShowMbSubCategoryProduct($event,subMiniData)">
                                 <a  >{{subMiniData.categoryDisplayName}}</a>
                            </h3> 
                  </div>
              </div>

                  <div class="dynamicContent " *ngIf="item.bannerId ">
                             <div class="highlight" *ngFor="let cntnt of item.content">
                                  <span [innerHtml]="cntnt.templatename"></span>
                              </div>
                  </div>
                       <ng-template #editorialblock>
                      <div class="editorial_block">
                              <div class="editorial-links">
                                      <ul>
                                          <li>
                                              <a href="/store/features#newsroom">News Room</a></li>
                                                  <li><a href="/store/features#know">In the Know</a></li>
                                                  <li><a href="/store/features#collections">Collections</a></li>
                                                  <li><a href="/store/features#films">Films</a></li>
                                                  </ul>
                                  </div>
                                  <div class="rowComponents justify-content-center">
                                          <div class="highlight">
                                                      <a> <img  height="208" alt="2019-valentines-orange-bergamot-mm" src="https://www.moltonbrown.co.uk/MBPromoImages/MegaMenu/Generic/2019-mothersday-suede-btf-editorial-mm.jpg"></a>
                                                      <div class="bottom-text text-center">
                                                          <h3 class="">Orange &amp; Bergamot</h3>
                                                          <p class="">Awaken the Senses...<span class="dynamic-cta"><a href="/store/collections/orange-bergamot/catUKFNaranJi/" class="black-color">Read More</a></span>
                                                  </p>
                                                              </div>
                                                  </div>
                                                  <div class="highlight">
                                                          <a> <img  height="208" alt="2019-valentines-orange-bergamot-mm" src="https://www.moltonbrown.co.uk/MBPromoImages/MegaMenu/Generic/2019-valentines-bathing-editorial-mm.jpg"></a>
                                                          <div class="bottom-text text-center">
                                                              <h3 class=" ">Orange &amp; Bergamot</h3>
                                                              <p class="">Awaken the Senses ...
                                                              <span class="dynamic-cta"><a href="/store/collections/orange-bergamot/catUKFNaranJi/" class="black-color">Read More</a></span></p>
                                                                                                                            </div>                                                            </div>                                            </div>                      
                      </div>
                  </ng-template>
                  </div>                   
              </li>                
      </ul>
  </div>
</div>









<!-- sidenav starts -->






<div #mySidenav id="mySidenav" class="sidenav tab-block" [ngClass]="{'mb-menu-block':sidemenuStatus,'mb-menu-none':!sidemenuStatus}">
  <div class=" searchbox searchBar">
      <form>
          <div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c ui-mini">
              <input value="" class="search-submit-button pull-right" type="submit"  disabled="">
              <input class="searchText" name="Ntt" type="text" id="searchText" title="Search" autocomplete="off" value=""
                  placeholder="I'm looking for...">
              <button class="search-close-icon" type="reset"></button>
          </div>
      </form>
  </div>
  <a  class="store_tab side-menu-tab">
      FIND A STORE<span class="findstore">&nbsp;</span>
  </a>
  <div class="country side-menu-tab">
      change coutry
          <div id="collapseCatalog" class="collapse country-menu " data-parent="#accordion">
              <a class="store_us country-list" *ngFor="let data of catalog" >
               &nbsp;{{data.countryName}}
              </a>
          </div>
      </div>

      <div id="accordion" *ngFor="let sidemenu of menuData; let menuId= index">
              <div class="sidemenu-header collapsed  sidemenu-cntnt-box" data-toggle="collapse" 
              [attr.href]="'#collapseOne'+sidemenu.id " [hidden]="sidemenu.order ==100"  [ngClass]="{'subCat-none':!sidemenu.subcategories}" *ngIf="sidemenu.categoryDisplayName">
                  <a class="sidemenu-title no-margin side-menu-tab" >
                          {{sidemenu.categoryDisplayName}}
                      </a>
              </div>
              <div [attr.id]="'collapseOne'+sidemenu.id " class=" collapse" data-parent="#accordion">
                  <div [attr.id]="'accordion'+sidemenu.id ">
                      <div *ngFor="let subMenus of sidemenu.subcategories; let subId= index">
                          <div class="side-menu-tab sidemenu-header collapsed sidemenu-dropdown-layer-two list-group-sub-item dropdown" 
                          data-toggle="collapse" [attr.href]="'#collapseSub'+subMenus.id"   [ngClass]="{'subCat-none':subMenus.titleName}" >
                              <span class="sidemenu-title no-margin"   >
                                  {{subMenus.categoryDisplayName}}
                               </span>
                          </div>
                          <div [attr.id]="'collapseSub'+subMenus.id" class=" collapse " [attr.data-parent]="'#accordion'+menuId">
                              <div *ngFor="let trackMenu of subMenus.subcategories; let trackId index">
                                  <div class="trackmenuList"  (click)="onShowMbSubCategoryProduct($event,trackMenu)" >
                                      <span>{{trackMenu.categoryDisplayName}}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="trackmenuList" (click)="onTapViewAllCat($event,sidemenu)">
                            View All   {{sidemenu.categoryDisplayName}}
                        </div>
                  </div>
                  
              </div>
          
          </div>


      <div class=" sidemenu-cntnt-box">
          <a class="sidemenu-title no-margin side-menu-tab" (click)="onTapLogin()">Sign In </a>
      </div>
      <div class=" sidemenu-cntnt-box">
          <a class="sidemenu-title no-margin side-menu-tab" (click)="onTapRegister()">Register</a>
      </div>
      <div class=" sidemenu-cntnt-box">
          <a class="sidemenu-title no-margin side-menu-tab" (click)="onTapNewsLetter()"> Newsletter</a>
      </div>



      <div id="accordion" *ngFor="let policies of footerData; let polcyID= index">
              <div class="sidemenu-header collapsed  sidemenu-cntnt-box " data-toggle="collapse" 
              [attr.href]="'#collapseOne'+polcyID" >
                  <a class="sidemenu-title no-margin side-menu-tab policies-title" [ngClass]="{'sub-block-none':!policies.data}" >
                          {{policies.name}}
                      </a>
              </div>
              <div [attr.id]="'collapseOne'+polcyID" class=" collapse" data-parent="#accordion">
                  <div [attr.id]="'accordion'+polcyID">
                      <div class="policiesSub-title" *ngFor="let policiesSub of policies.data; let subId= index">
                          <div  class="collapsed" 
                          data-toggle="collapse" [attr.href]="'#collapseSub'+subId" >
                              <a class="sidemenu-title no-margin" (click)="onFooterCntntClick(policiesSub)" >
                                  {{policiesSub.name}}
                               </a>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>

</div>
<!-- sidenav ends -->
<div class="backdrop" (swipe)="swipMenu($event)" (mouseenter)="onhidesubmenu()" (click)="toggleMenu($event)"  [ngClass]="{'display':mouseEnter,'responsive-overlay':sidemenuStatus}"></div>