
.mb-hide-menu{
    display: none;
}
.mainmenu{
    display: table;
    margin: 4px auto 5px;
    .mb-productCategory{
        padding: 7px 14px 6px;
        cursor: pointer;
        z-index:666;
        a{
            font-size:14px;
            line-height: 20px;
            color:#000 !important;
            text-transform: uppercase;
            font-weight: 400;
        }
        a:hover{
            text-decoration: underline;
        }
    }
  
}

.sub-dropdown{
    position: static !important;
    display: inline-block;
    text-align: left;
    .innerDivSubMenu{
        padding: 15px 0 10px 15px;
        height: 325px;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
   .menu-block {
   // width: 220px !important;
    padding: 3px 0 15px 10px;
} 

    .highlight {
        width: 240px;
        position: relative;
        .bottom-text {
            position: relative;
            right: 17px;
            bottom: 3px;
            // width: 208px!important;
             h3 {
                font-size: 14px!important;
                font-weight: normal!important;
                padding-left: 0!important;
                padding-top: 15px !important;
            }
            p {
                font-size: 14px;
                font-style: italic !important;
                text-transform: initial;
                padding-bottom: 10px;
                font-family: georgia !important;float: left !important;
            }
        }
        .black-color {
            width: 208px;
            font-size: 14px!important;
            float: none!important;
            padding-top: 0px;
         background-color:transprent;
        }
    }
}
.black-color:after{
    border-top: 5px solid transparent;
border-left: 5px solid;
border-bottom: 5px solid transparent;
content: "";
display: inline-block;
height: 0;
margin-left: 5px;
visibility: visible;
width: 0;
}
div.dynamicContent {
 //   top: 0;
 position: absolute;
    right: 0;
 height: 350px;display: flex;
    float: right !important;
  padding-top: 15px;
    width: auto;
    padding-left: 15px;
    .highlight {
        width: 240px;
        position: relative;
        .amp-dc-card-text-wrap{


            position: relative;
            text-transform: uppercase;    padding: 15px 0 0 0;
            .amp-dc-card-name {
                font-size: 14px!important;
                font-weight: normal!important;
                padding-left: 0!important;margin: 0px;
            }
            p {
                font-size: 14px;
                font-style: italic;
                text-transform: initial;
                font-family: georgia;color:#000;
            }
            .amp-dc-card-link{
                width: 208px;
                float: none!important;color:#000;margin:0;
                background-color: transparent;padding-top:0px;
                &::after{
                    border-top: 5px solid transparent;
                    border-left: 5px solid;
                    border-bottom: 5px solid transparent;
                    content: "";
                    display: inline-block;
                    height: 0;
                    margin-left: 5px;
                    visibility: visible;
                    width: 0;
                }
            }
        }
        .black-color {
            width: 208px;
            font-weight: normal!important;
            text-transform: uppercase!important;
            font-style: normal!important;
            font-size: 14px!important;
            font-family: "Trebuchet MS",arial,sans-serif!important;
            float: none!important;
        }
    }
    .amp-dc-card-text-wrap .amp-dc-card-link{
        padding:0 !important;
        background-color: transparent !important;
    }
}
&:nth-child(7){
    a{
        font-family: georgia !important;
        font-style: italic !important;
        text-transform: capitalize !important;
        font-weight: bold !important;
    }
}

}
div.sub-menu {
    position: absolute;
    z-index: 999;
    left: 15%;
    background-color:#fff;
    height: 360px;
    margin: 5px auto 0 auto;
    overflow: hidden;
    list-style: outside none none;
    padding-top: 15px;
    width: 931px;
    .innerDivSubMenu{
        .menu-block{
        &:nth-child(1){
            h3{
                padding-top:0px;
            }
        }
    }
    }
    .editorial_block{
        .rowComponents{
            .highlight{
                padding: 0 15px;
                .bottom-text{
 h3{
                    font-size: 14px;
                    font-weight: normal;
                    padding-left: 0;
                    padding-top: 15px ;
                    text-transform: uppercase;
                }
p span{
 display:inline !important;
}
                }
            }
        }
    }
    .edi-block .editorial_block{
height:350px;background-color: #fff;
    }
    .editorial-links {
        padding: 10px 0 20px 0;
        width: 100%;
        text-align: center;
        ul{ 
            li {
            display: inline-block;
            padding-left: 40px;
            a{
                font-size: 17px;
    font-weight: normal !important;
    font-family: georgia;
    font-style: italic;
    text-transform: capitalize!important;
            }
        }}
    }
    div.editorial {
        width: 100%!important;
        .highlight {
            width: 50%;
            padding-top: 10px;
            a {
                text-align: right;
                width: 100%;
                padding-right: 16px!important;
            }
        }        
    }
    span {
        padding: 0 0 0px 0;
        max-width: 210px;
        display: list-item;
        a {
            font-weight: normal;
            text-transform: none!important;
            white-space: nowrap;
            padding: 0 0 6px!important;
        }
    }
     h3 {
        font-size: 14px;
        font-weight: bold;
        padding: 0 3px 2px 0;
        cursor: default;
        color: black;
        text-transform: uppercase;
        line-height: 1.1;
        // &:hover{
        //     text-decoration:underline;
        // }
        &.menu-lvl-3{
            font-size: 13px;
            width:195px !important;
            &:hover{
            text-decoration:underline; 
        }
        a{
            text-transform: capitalize ;
        }
    }
        &.active-header{
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            padding: 0px 0 5px 0px;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    a{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .mb-product_cls{
        a{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}



@media screen and (max-width: 979px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    .header-width {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        text-align: center;
    }

    .searchbox {
        background: 0;
        border-radius: 0;
        padding: 15px 10px;
        position: relative;
        form {
            border-bottom: 1px solid #666;
            margin: 5px 10px;
            overflow: hidden;
            input[type=submit] {
                border: 0;
                width: 15%;
                padding: 7px 14px;
                background: transparent url('https://www.moltonbrown.co.uk/images/bootstrap/search-icon.png') no-repeat scroll 0 1px/100% auto;
                background-size: auto;
                outline: 0;
            }
            .search-submit-button:disabled {
                opacity: 1 !important;
            }
            input[type=text] {
                border: medium none;
                outline: medium none;
                width: 83%;
                float: left;
                line-height: 24px;
                font-size: 16px;
                color: #000;
                background: #f3f3f3;
                padding: 6px 5px 0 23px;
                text-transform: none;
                font-family: georgia;
                font-style: italic;
                outline: 0;
                &::placeholder {
                    color: #b0a0a0;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #b0a0a0;
                }
                &::-ms-input-placeholder {
                    color: #b0a0a0;
                }
            }
            .search-close-icon {
                display: none;
                border: 0 solid transparent;
                background-color: transparent;
                vertical-align: middle;
                outline: 0;
                cursor: pointer;
                position: absolute;
                top: 27px;
                left: 7px;
            }
        }
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: #f3f3f3;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-x: hidden;
        transition: 0.5s;
      //  padding-top: 60px;
        .accordian-child {
            .accordian-content {
                padding: 0 !important;
            }
        }
        div {
            position: relative;
            z-index: 999;
        }
        .sidenav-header {
            font-size: 15px;
            color: #000;
            border: 1px solid #d9d9d9;
        }
        .sidenav-subheader {
            font-size: 15px;
            color: #000;
            background: #e5e5e5;
            a {
                border-bottom: 1px solid #d3d3d3;
            }
            .sidenav-subheader-child {
                background: #fff;
                border-bottom: 1px solid;
                padding: 8px 8px 8px 32px;
            }
        }
  
    }
    .sidenav{
         a {
        font-size: 15px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }
 .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .mobileBar{
            padding-left:0px !important;
        }
    }
    .head-top {
        .block {
            &:before {
                content: '';
                display: block;
            }
            .header-delivery-content {
                text-align: center;
            }
        }
    }

    .header-width {
        width: 100% !important;
        max-width: 100%;
        text-align: center !important;
        flex: 0 0 100%;
    }
    
    .block .header-content-centered {
        width: 100%;
    }
}

.dropbtn-bg{
    background: #fff;
}


.display{
    display:block;
}
.sub-menu-title-editorial{
    font-style:italic;
    font-family: Georgia;
    font-weight: 700 !important;
    text-transform: capitalize !important;
}
.submenu-ds-block{
    display:flex ;
}
.submenu-ds-none{
    display:none ;
}
.responsive-overlay{
    display:block;
    opacity: 0;   
     &[draggable=true] {
        cursor: move;
        @media(max-width:320px){
cursor:move;
        }
    }
}
.responsive-overlay-none{
    display:none;    
}


.tab-responsive-block {
    display: none;
}
.tab-block{
    display: none;
}
.tab-responsive-none {
    display: block;
}
.tab-hide{
    display: block;
}

@media(max-width:768px) {
    .tab-hide{
        display: none;
    }
    .tab-block{
        display: block;
        border-bottom: 1px solid #ccc;
    }
    .tab-responsive-none {
        display: none;
    }
    .tab-responsive-block {
        display: block;
    }
    .header-starptext {
        text-align: center;
    }
}



.mb-menu-margin-left{
    margin-left:65%;
    width: 65%;
}
.mb-menu-ML-none{
    margin-left:0;
    width:100%;
}
.mb-menu-block{
    width:65%;
    z-index: 999;
}
.mb-menu-none{
    width:0;
}
.mb-show-menu{
    display: block;

}
.mb-hide-menu{
    display: none;
}


.searchbox.searchBar,.policiesSub-title{
    border-bottom: 1px solid #ddd;
}
.sidemenu-header{
    &.collapsed{
    .sidemenu-title{
        &:after {
            font-family:'Glyphicons Halflings';
            content:"\2b";
            float: right;
            color: grey;
        }
    }
}
.sidemenu-title{    
    &:after {
        font-family:'Glyphicons Halflings';
        content:"\2212";
        float: right;
        color: grey;
    }
    &.anchor-none{
        &:after{
            content:'';
        }
    }
    &.sub-block-none{
        &:after{
            content:'';
        }
    }
}

}
.trackmenuList,.policiesSub-title{
    padding: 10px 30px;
    background: #fff;
    border-bottom:1px solid #ddd;
    text-transform: capitalize;
}
.store_tab{
    padding: 10px 30px;
    border-bottom:1px solid #ddd;
}

.side-menu-tab{
    text-transform: uppercase;
    background: 0;
    padding: 16px 20px;
    z-index: 1000;
    border: 0;
    border-bottom: 1px solid #ddd;
    color: #000!important;
    font-size: 15px;

}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}
.subCat-none{
    background-color:#fff;
    span,a{
&::after{
content:'' !important;

}
    }
}
.column-height{
    max-height: 275px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.column-height-h{
    // max-height: 210px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

