<section>

    <div class="container">
        <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

        <div class="rowComponents">
         <h2 class="col-sm-12 register-in">New Customer Registration Form</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmitForm($event,true)" class="registration_form col-md-12">
              <h2>Login Details</h2>
              <div class="col-xs-12 required_text">&nbsp;<span class="redcolor">*</span>Required Field</div>
              <div class="col-xs-12 row">
                <div class="col-sm-12 col-md-4 ">
                    <label class="register_label " for="reg_email">Email<span class="redstar">*</span></label>
                </div>
                <div class="col-sm-12 col-md-8 text-left ">
                  <span class="login_fields">
                    <input maxlength="255" type="email" formControlName="uid" autocomplete="off"  class="mandatory">
                    </span>
                    <div *ngIf="!registrationForm.controls['uid'].valid &&  registrationForm.get('uid').touched" class="error-msg">
                      <div class="err-text" [hidden]="!registrationForm.controls['uid'].errors.required">Email is required.</div>
                      <div class="err-text" [hidden]="!registrationForm.controls['uid'].errors.patternInvalid">Email is invalid.</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 row">
                  <div class="col-sm-12 col-md-4 ">
                      <label class="register_label " for="reg_email">Verify Email<span class="redstar">*</span></label>
                  </div>
                  <div class="col-sm-12 col-md-8 text-left ">
                    <span class="login_fields">
                      <input maxlength="255" type="email" formControlName="confirmemail" class="mandatory">
                      </span>
                  </div>
                </div>
                <div class="col-xs-12 row">
                    <div class="col-sm-12 col-md-4 ">
                        <label class="register_label " for="reg_password">Password<span class="redstar">*</span></label>
                    </div>
                    <div class="col-sm-12 col-md-8 text-left ">
                      <div class="login_fields">
                        <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="Password must be between 6 and 20 characters. With one special charater."  show-delay="500" placement="right" ></a>
                        <input maxlength="255" type="password"  formControlName="password" class="mandatory">
                      </div>
                      <div class="password">Password must be between 6 and 20 characters. With one special charater</div>
                    </div>
                  </div>
                 
                  <div class="col-xs-12 row">
                      <div class="col-sm-12 col-md-4 ">
                          <label class="register_label " for="reg_email">Verify Password<span class="redstar">*</span></label>
                      </div>
                      <div class="col-sm-12 col-md-8 text-left ">
                        <span class="login_fields">
                          <input maxlength="255" type="password"  formControlName="confirmPassword"  class="mandatory">
                          </span>
                      </div>
                    </div>
                    <h2 class="personalDetails">Personal Details</h2>
                    <!-- <app-personal-form [registrationForm]="registrationForm"></app-personal-form> -->
                    <div class="col-xs-12 row">
                        <div class="col-sm-12 col-md-4 ">
                            <label class="register_label " for="reg_title">Title<span class="redstar">*</span></label>
                        </div>
                        <div class="col-sm-12 col-md-8 text-left ">
                          <span class="login_fields">
                              <select  class="mandatory" formControlName="titleCode">
                                <option >Please Select</option>
                                <option value="miss">Miss</option>
                                <option value="mrs">Mrs</option>
                                <option value="ms">Ms</option>
                                <option value="mr">Mr</option>
                                <option value="dr">Dr</option>
                              </select>
                            </span>
                        </div>
                      </div>
                      <div class="col-xs-12 row">
                          <div class="col-sm-12 col-md-4 ">
                              <label class="register_label " for="reg_firstname">First Name<span class="redstar">*</span></label>
                          </div>
                          <div class="col-sm-12 col-md-8 text-left ">
                            <span class="login_fields">
                              <input maxlength="255" formControlName="firstName" type="text"  class="mandatory">
                              <div *ngIf="!registrationForm.controls['firstName'].valid &&  registrationForm.get('firstName').touched" class="error-msg">
                                <div class="err-text"  [hidden]="!registrationForm.controls['firstName'].errors.required">FirstName is required.</div>
                            </div>
                              </span>
                          </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-sm-12 col-md-4 ">
                                <label class="register_label " for="reg_lastname">Last Name<span class="redstar">*</span></label>
                            </div>
                            <div class="col-sm-12 col-md-8 text-left ">
                              <span class="login_fields">
                                <input maxlength="255" type="text"  formControlName="lastName" class="mandatory">
                                </span>
                                <div *ngIf="!registrationForm.controls['lastName'].valid &&  registrationForm.get('lastName').touched" class="error-msg">
                                  <div  class="err-text"  [hidden]="!registrationForm.controls['lastName'].errors.required">LastName is required.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 row">
                              <div class="col-sm-12 col-md-4 ">
                                  <label class="register_label " for="reg_country">Country<span class="redstar">*</span></label>
                              </div>
                              <div class="col-sm-12 col-md-8 text-left ">
                                <span class="login_fields">
                                    <select  class="mandatory" formControlName="country" >
                                      <option >Please Select</option>
                                      <option *ngFor="let data of countries;let k=index;" [ngValue]="data" >{{data.name}}</option>
                                    </select>
                                  </span>
                                  <div *ngIf="!registrationForm.controls['country'].valid &&  registrationForm.get('country').touched" class="error-msg">
                                    <div class="err-text"  [hidden]="!registrationForm.controls['country'].errors.required">Country is required.</div>
                                </div>
                              </div>
                            </div>

                            <div class="col-xs-12 row">
                              <div class="col-sm-12 col-md-4 ">
                                  <label class="register_label " for="reg_postcode">Postcode/Zipcode<span class="redstar">*</span></label>
                              </div>
                              <div class="col-sm-12 col-md-8 text-left ">
                                <span class="login_fields">
                                  <input #search maxlength="12" appGooglePlaces  (onSelect)="setAddress($event)" type="text" value="" (keydown)="onSearchKeyUp($event)" class="mandatory form-control " formControlName="postalCode" [ngClass]="{'has-error  not-valid': !postCodeStatus}">
                                  </span>
                                  <span class="ml-8" >
                                    <button class="buttonStyle mt-1" (click)="onLookupAddress($event)" >  Lookup Address</button>
                                
                                </span>
                              </div>
    
                            </div>
                            <div class="col-xs-12 row " *ngIf="postalAddresses">
                              <div class="col-sm-12 col-md-4  ">
                                <label class="register_label " >Select Address<span class="redstar">*</span></label>
                            </div>
    
                            <div class="col-sm-12 col-md-8 text-left ">
                              <span class="login_fields">
                              <select  class="mandatory form-control"  formControlName="address" (change)="onSelectPlace($event.target.value)">
                                  <option>Select Address</option>
                                  <option *ngFor="let data of postalAddresses;let k=index;" [value]="data.Id" >{{data.StreetAddress}}, &nbsp;{{data.Place}}</option>
                                </select>
                                </span>
                              </div>
                              
                          </div>
              
                            <div class="col-xs-12 row">
                                <div class="col-sm-12 col-md-4 ">
                                    <label class="register_label " for="reg_address">Address<span class="redstar">*</span></label>
                                </div>
                                <div class="col-sm-12 col-md-8 text-left ">
                                  <span class="login_fields">
                                    <input maxlength="255" type="text"  class="mandatory" formControlName="line1">
                                    <div *ngIf="!registrationForm.controls['line1'].valid &&  registrationForm.get('line1').touched" class="error-msg">
                                      <div class="err-text"  [hidden]="!registrationForm.controls['line1'].errors.required">Line1 is required.</div>
                                  </div>
                                    <input maxlength="255" type="text"  class="mandatory" formControlName="line2" style="margin-top:15px;">
                                    </span>
   
                                </div>
                              </div>
                              <div class="col-xs-12 row">
                                  <div class="col-sm-12 col-md-4 ">
                                      <label class="register_label " for="reg_town">Town/City<span class="redstar">*</span></label>
                                  </div>
                                  <div class="col-sm-12 col-md-8 text-left ">
                                    <span class="login_fields">
                                      <input maxlength="255" type="text"  formControlName="town" class="mandatory">
                                      </span>
                                      <div *ngIf="!registrationForm.controls['town'].valid &&  registrationForm.get('town').touched" class="error-msg">
                                        <div class="err-text" [hidden]="!registrationForm.controls['town'].errors.required">Line1 is required.</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-12 row">
                                    <div class="col-sm-12 col-md-4 ">
                                        <label class="register_label " for="reg_town">Country/State/Region</label>
                                    </div>
                                    <div class="col-sm-12 col-md-8 text-left ">
                                      <span class="login_fields">
                                        <input maxlength="255" type="text"   formControlName="County"  >
                                      </span>
                                   
                                    </div>
                                  </div>
                                  <div class="col-xs-12 row">
                                      <div class="col-sm-12 col-md-4 ">
                                          <label class="register_label " for="reg_town">Phone Number<span class="redstar">*</span></label>
                                      </div>
                                      <div class="col-sm-12 col-md-8 text-left ">
                                        <span class="login_fields">
                                          <input maxlength="255" type="text" formControlName="phone"  class="mandatory">
                                         </span>
                                         
                                        <div *ngIf="!registrationForm.controls['phone'].valid &&  registrationForm.get('phone').touched" class="error-msg">
                                          <div class="err-text" [hidden]="!registrationForm.controls['phone'].errors.required">Phone Number is required.</div>
                                      </div>
                                     </div>
                                    </div>
                                    <div class="col-xs-12 row">
                                        <div class="col-sm-12 col-md-4 ">
                                            <label class="register_label " for="reg_title">Age Group</label>
                                        </div>
                                        <div class="col-sm-12 col-md-8 text-left ">
                                          <span class="login_fields">
                                              <select  class="mandatory"  formControlName="age" >
                                                  <option >Please Select</option>
                                                  <option value="16-18">16-18</option>
                                                  <option value="19-25">19-25</option>
                                                  <option value="26-45">26-45</option>
                                                  <option value="46-60">46-60</option>
                                                  <option value="Over 60">Over 60</option>
                                              </select>
                                            </span>
                                            <div *ngIf="!registrationForm.controls['age'].valid &&  registrationForm.get('age').touched" class="error-msg">
                                              <div [hidden]="!registrationForm.controls['age'].errors.required">Age is required.</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-12 row">
                                          <p class="col-sm-12 col-md-4 text-right">
                                            <label class="register_label "> Gender</label>
                                          </p>
                                          <p class="col-sm-12 col-md-8 text-left genderAlign" >
                                            <input formControlName="gender" type="radio" value="female" class="pull-left">
                                            <span class="pull-left gender">Female</span>
                                            <input  formControlName="gender"  type="radio" value="male" class="pull-left">
                                            <span class="pull-left gender">Male</span>
                                          
                                          </p>
                                        </div>
                                       <!-- <div class="col-xs-12">
                                            <h2>Join Our Guest List</h2>
                                          </div>
                                          <div class="guest-list ">
                                              <div class="col-xs-12 col-sm-12 row">
                                                <div class=" col-xs-10 col-sm-12 col-md-8 offset-2  ">
                                                  Be the first to hear about our latest product launches, limited edition collections, 
                                                  private sales and exclusive event invites. All straight to your inbox, door or phone.
                                                </div>
                                              </div>
                                              <div class="col-xs-12 row">
                                                <p class=" col-xs-10 col-sm-12 col-md-8  offset-2">We always treat your personal details with the utmost care and never sell them to other companies. You can unsubscribe at any time.</p>
                                              </div>
                                  
                                              <div class="col-xs-12 row">
                                                <p class=" col-sm-2 col-md-3 text-right checkboxAlignBox">
                                                  <input  type="checkbox" value="true" class="pull-right"></p>
                                                <p class="  col-sm-10 col-md-8 text-left checkboxAlign">
                                                  I would like to receive communications from Molton Brown.</p>
                                              </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <h2>Terms &amp; Conditions</h2>
                                                
                                              </div>
                                               <div class="col-xs-12 row">
                                                  <p class="col-xs-1 col-sm-12 col-md-3 text-right checkboxAlignBox">
                                                    <input  type="checkbox" value="true" class="pull-right"></p>
                                                  <p class=" col-xs-10 col-sm-12 col-md-8 text-left checkboxAlign">
                                                    
											I accept the&nbsp;<a>Terms &amp; Conditions</a>
											and <a href="#">Privacy &amp; Cookie Policy.</a><span class="redstar">*</span></p>
                                                </div> -->
                                              <div class="col-sm-12 text-right" style="padding: 15px;">
                                                  <button class="buttonStyle" [disabled]="!registrationForm.valid" >Submit</button>
                                                 </div>
        </form>
      </div>
    </div>
</section>        

<div class="backdrop"   [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}" >
  <div>
    loading
  </div>
  
</div>