# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

yformsaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
yformsaddon.application-context=yformsaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.yformsaddon=classpath:/yformsaddon/web/spring/yformsaddon-web-spring.xml



yformsaddon.javascript.paths.responsive=/responsive/common/js/yformsaddon.js
yformsaddon.css.paths.responsive=/responsive/common/css/yformsaddon.css
