<div class="checkout-container justify-content-center sample-container">
    <!-- <div class="step-indicator clearfix">
        <div class="step step-one current "> BASKET</div>
        <div class="step step-two "> SAMPLES</div>
        <div class="step step-three"> CHECKOUT</div>
    </div> -->
    <div class="step-indicator clearfix">
        <ol>
                <li class="step active" [ngClass]="{'current':basket}">{{(mobileDevice)?(basket)?'BASKET':'1':'BASKET'}} </li>
                <li class="step active" [ngClass]="{'current':sample}"> {{(mobileDevice)?(sample)?'SAMPLES & GIFTS BOX':'2':'SAMPLES & GIFTS BOX'}}</li>
                <li class="step active" [ngClass]="{'current':confirmation}">{{(mobileDevice)?(confirmation)?'CHECKOUT':'3':'CHECKOUT'}}</li>
        </ol>
         </div>
    <router-outlet></router-outlet>
</div>
