

.my-account {
    width: 764px;
    padding: 5px 0;
    min-height: 460px;
    @media screen and(max-width:768px) {
        width:100%;    min-height: 190px;
    }
    .paymentAlign{
        margin: 15px 0;
        .col-sm-4{
            padding: 15px !important;
        }
    }
    h2 {
        font-size: 28px;
        margin-bottom: 0;
        padding: 0 0 14px 0;
        color: #000;
    }
    p {
        color: #260e03!important;
        line-height: 20px;
        font-size: 13px!important;
    }
    .edit-profile {
        border: 1px solid #aaa;
        padding: 20px 10px;
        padding: 20px 10px;
        margin: 15px 0;
        float: left;
        h3{
            font-weight: bold;
            font-size: 14px;
            color: #000!important;
            padding-left: 0!important;
        }
    }
}
.relativeness {
    position: relative;
}
.makeDefault {
    padding-bottom: 14px;
    padding: 20px 0 15px 0;
    b{
        font-size:12px;
    }
    .contextual-help {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #c2c2c2;
        background: #FFF url('https://www.moltonbrown.co.uk/images/help-black-icon.svg') no-repeat scroll center center;
        text-indent: -9999px;
        background-size: 7px;
        left: 155px;
        top: 20px;
    }
}