<div class="my-account">
  <h2>Payment Details</h2>
  <p>Save time every time you place an order. Manage your credit card information here, you can edit your payment or billing address information at any time.</p>
  <div class="col-sm-12 edit-profile" *ngIf="payment">
    <h3>My Saved Cards</h3>
    
    <div class="row paymentAlign">
      
  <div class="col-sm-4" *ngFor="let payt of payment.payments">
     <div>{{payt.cardType.name}}</div>
    <div>{{payt.cardNumber}}</div>
    <div>{{payt.billingAddress.firstName}} {{payt.billingAddress.lastName}}</div>
 
    <div>{{payt.billingAddress.country.name}}</div>
    <div><span>Exp Date</span> : {{payt.expiryMonth}}/{{payt.expiryYear}}</div>
  </div>
    </div>
    </div>
</div>