
.container{
    width:964px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-rendering: optimizeLegibility;
}

.header-mini {
    position: relative;
    width: 100%;
    height: 52px;
    background: #FFF;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #bfbfbf;

    .header-tab-cart,.header-tab-menu_cls,.header-tab-logo{
        display:inline;
    }
    .logo {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
       }
    .side-menu {
        height: 50px;
        margin: 0;
        width: 50px;
        cursor: pointer;
        .side-menu-icon {
            position: absolute;
            left: 19px;
            height: 25px;
            width: 25px;
            text-indent: -9999px;
            overflow: hidden;
            background: transparent url('../../../assets/imgs/header-sprite.png') no-repeat scroll left 30%/100% auto;
            z-index: 999;
            background-size: 294px;
            top: 10px;
        }
    }

    .cart-basket {
        position: absolute;
        top: 25px;
        right: 6px;
        height: 50px;
        min-width: 50px;
        background: transparent url('../../../assets/imgs/header-sprite.png') no-repeat scroll right 40%/50% auto;
        background-size: 314px;
        background-position: -276px 12px;
    }
    .cart-items {
        position: absolute;
        bottom: 13%;
        top: 25px;
        right: 16%;
        border: 1px solid #000;
        background: #FFF none repeat scroll 0 0;
        border-radius: 50%;
        height: 18px;
        min-width: 18px;
        text-align: center;
        line-height: 16px;
        font-size: 11px;
    }
}


.header-bottom-search-box {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 270px;
    float: right;
    overflow: hidden;
    height: 45px;
}
.header-bottom-search-input {
    
    border-radius: 0 !important;
    background: transparent;
    border-bottom: 1px solid #000;
    float: right;
    width: 40px;
    height: 40px;
    // visibility: hidden;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 17px;
    outline: 0;
    font-family: "Georgia Italic";
    font-style: Italic;
    color: #333;
    padding: 0;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
    opacity: 0;
    position: relative;
    z-index: 666;
}
.searchbox-open {
    width: 100% !important;
    padding: 0 10px !important;
    visibility: visible;
    opacity: 1;
    padding-top: 15px !important;
    text-indent:1px;
}
.header-bottom-search-box .header-bottom-icon-search {
    border-radius: 0;
    background-size: 50px 50px;
}
span.unclickable {
    text-decoration: none;
}
.header-bottom-icon-search {
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
    overflow: hidden;
}
.header-bottom-icon-search {
    padding: 0;
    width: auto;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: bounce 1s infinite;
}


@keyframes bounce{
    0%, 20%,60%,100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    }
    
    40%{
    
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
    }
    80%{
    
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
    }
    
    }

/*sidenav*/

@media screen and (max-width: 979px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    .header-width {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        text-align: center;
    }

    .searchbox {
        background: 0;
        border-radius: 0;
        padding: 15px 10px;
        position: relative;
        form {
            border-bottom: 1px solid #666;
            margin: 5px 10px;
            overflow: hidden;
            input[type=submit] {
                border: 0;
                width: 15%;
                padding: 7px 14px;
                background: transparent url('https://www.moltonbrown.co.uk/images/bootstrap/search-icon.png') no-repeat scroll 0 1px/100% auto;
                background-size: auto;
                outline: 0;
            }
            .search-submit-button:disabled {
                opacity: 1 !important;
            }
            input[type=text] {
                border: medium none;
                outline: medium none;
                width: 83%;
                float: left;
                line-height: 24px;
                font-size: 16px;
                color: #000;
                background: #f3f3f3;
                padding: 6px 5px 0 23px;
                text-transform: none;
                font-family: georgia;
                font-style: italic;
                outline: 0;
                &::placeholder {
                    color: #b0a0a0;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #b0a0a0;
                }
                &::-ms-input-placeholder {
                    color: #b0a0a0;
                }
            }
            .search-close-icon {
                display: none;
                border: 0 solid transparent;
                background-color: transparent;
                vertical-align: middle;
                outline: 0;
                cursor: pointer;
                position: absolute;
                top: 27px;
                left: 7px;
            }
        }
    }


    @media screen and (max-height: 450px) {

        .mobileBar{
            padding-left:0px !important;
        }
    }
    .head-top {
        .block {
            &:before {
                content: '';
                display: block;
            }
            .header-delivery-content {
                text-align: center;
            }
        }
    }
    .header-wrap {
        .mb-header-img {
            vertical-align: middle;
            max-height: 205px;
            max-width: 160px;
        }
        .logo {}
        .top-menu {
            display: none;
        }
        .header-tab-logo {
            width: 100%;
            margin: 0 auto;
            div {
                display: inline-block;
                vertical-align: middle;
                z-index: 666;
                position: relative;
            }
        }
    }
  
    .header-width {
        width: 100% !important;
        max-width: 100%;
        text-align: center !important;
        flex: 0 0 100%;
    }
    
    .block .header-content-centered {
        width: 100%;
    }
}


.header-bottom {
    margin-bottom: -1px;
    img{
        position: relative;
        z-index:666;
        cursor: pointer;
    }
    .container {
        position: relative;
        overflow: visible;
    }
    .royal-license {
        text-align: left;
        padding-top: 11px;
        position: absolute;
        top: 16px;
        left: 0px;
        img {
            padding-left: 1px;
            height: 64px;
        }
    }

    .mb-logo {
        padding: 36px 0 0 0;
        .logo {
            margin: 0;
            text-align: center;
            img {
                 margin: 4px 0 12px -3px;
            }
        }
    }
    input[type="search"] {
        -webkit-appearance: none;
        color: #000;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
 
}


.tab-block{
    display: none;
}
.tab-responsive-none {
    display: block;
}
.tab-hide{
    display: block;
}

@media(max-width:768px) {
    .tab-hide{
        display: none;
    }
    .tab-block{
        display: block;
        border-bottom: 1px solid #ccc;
    }
    .tab-responsive-none {
        display: none;
    }
    .tab-responsive-block {
        display: block;
    }

}
.mb-menu-margin-left{
    margin-left:65%;
    width: 65%;
}
.mb-menu-ML-none{
    margin-left:0;
    width:100%;
}
.mb-menu-block{
    width:65%;
}
.mb-menu-none{
    width:0;
}
.mb-show-menu{
    display: block;

}
.mb-hide-menu{
    display: none;
}


.cart-mini-basket {
    position: absolute;
    top: -1px;
    right: 0px;
    height: 50px;
    min-width: 50px;
    background: transparent url('../../../assets/imgs/header-sprite.png') no-repeat;
    background-size: 314px;
    background-position: -276px 12px;
}
.header-mini-basket-icon-count {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #FFF;
    color: #000;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    span{
        font-size: 10px;
    }
}
.mobileBar{
  font-size:25px; 
  font-weight:900;
  cursor:pointer;
}
.headerlogo {
    display: block;
    height: 50px;
    text-align: center;
    background: transparent url('../../../assets/imgs/header-sprite.png') no-repeat scroll center 30%/100% auto;
    background-size: 300px;
    background-position: 50% 50%;
    width: 180px;
    margin: 5px auto 0;
    padding-top: 3px;
}



.display{
    display:block;
}

.submenu-ds-block{
    display:flex ;
}
.submenu-ds-none{
    display:none ;
}
.responsive-overlay{
    display:block;
    opacity: 0;   
     &[draggable=true] {
        cursor: move;
        @media(max-width:320px){
          cursor:move;
        }
    }
}
.responsive-overlay-none{
    display:none;    
}
.ng-cls-dummy{
    font-weight:bold;float:right;cursor:pointer;
}
.auto-completeBlock{
    position: relative;
    top: 42px;
    background: antiquewhite;
   // position: absolute;
    background: #fff;
    border: solid #e5e5e5 1px;
    width: 270px;
    min-height: 395px;
    ul{
        padding: 10px;
        list-style: none;
    
    li {
        padding: 4px;
        border-bottom: 1px solid #e5e5e5;
        &:hover{
            cursor: pointer;
            a{
                text-decoration: underline;
            }
        }
        span {
            float: right;
            line-height: 20px;
            width: 150px;
            padding-left: 10px;
            font-size: 14px;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}
.search_more {
    padding: 10px 30px;
    color: #fff !important;
    background: #000;
    position: relative;
    top: 6px;
    left: 25%;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
}
.searchBlock-none{
    z-index: -111;
    visibility: hidden;
    right:-100%;
}
.searchBlock-block{
    z-index: 999;
    right:0;
}
.search-box-height{
    height:auto;
}
.editorial_block{
    width:100%;
}
