

<div class="header-bottom tab-responsive-none" >
    <div class="container">
        <div class="rowComponents">
            <div class="col-md-12 col-md-12 mb-logo">
                <div class="logo" id="molton_brown_logo">
                    <a (click)="goToHome()">
                        <img src="../../../assets/imgs/logo_pages_new.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2 royal-license">
            <a (click)="goToHome()">
                <img src="../../../assets/imgs/Warrant.png" alt="Royal Warrant" (mouseleave)="mouseLeave()"></a>
        </div>
        <div class="header-bottom-search-box" [ngClass]="{'search-box-height':searchBlock}">
            <div>
                <input #searchInput  class="text header-bottom-search-input "  type="text" id="product_channel" autocomplete="off"
                      placeholder="I'm looking for..." (input)="onSearchChange($event.target.value)" (keydown)="onSearcKeyUp($event)"  [value]="searchResultValue" [ngClass]="{'searchbox-open':searchCtgry}" (blur)="onBlurSearch($event.target.value)">
                <span class="header-bottom-icon-search unclickable"  (click)="onsearchClicked()"  >
                    <img src="../../../assets/imgs/search-icon.png"  >
                </span>
        </div>
            <div class="auto-completeBlock" *ngIf="searchResults.length>0" (mouseleave)="onLeaveSearchBox()" (mouseenter)="showSearchBox()"  [ngClass]="{'searchBlock-block':searchBlock,'searchBlock-none':!searchBlock}" >
                <ul>
                    <li *ngFor="let searchItem of searchResults;"  (click)="onSearchProduct($event,searchItem)">
                        <a >
                            <span *ngIf="searchItem.categoryDisplayName" [innerHtml]="searchItem.categoryDisplayName"></span>
                            <span *ngIf="searchItem.productDisplayName" [innerHtml]="searchItem.productDisplayName"></span>
                             <img src="http://i1.adis.ws/s/moltonbrown/{{searchItem.code}}_uk_set?$thImg$&amp;fmt=webp" >
                        </a>
                    </li>
                </ul>
                <a class="search_more" (click)="onSearchResults()">
                    more results
                </a>
            </div>
        </div>

    </div>
</div>

<!-- end of header block -->

<!--start of tab header-block  -->
<div class="tab-block"  [ngClass]="{'mb-menu-margin-left':toggle,'mb-menu-ML-none':!toggle}">
<div class="rowComponents header mb-nav-block " style="box-shadow: 1px 2px #ccc;height: 55px;">
        <div class="col-2" style="display: flex;justify-content: flex-start;align-items: center;">
            <span class="mobileBar" (click)="onSidemenutap($event)">&#9776;</span>
        </div>
        <div class="col-8 text-center ">
            <a [routerLink]="['/store']" class="frame">
                <span class="helper"></span>
                <a title="Molton Brown" class="headerlogo"></a>
            </a>
        </div>


        <div class="col-2 text-center">
            <span style="font-size:30px;cursor:pointer" (click)="onViewBasket($event)">
                <a style="color:#260e02;" class="header-mb-dropbtn">
                    <span class="cart-mini-basket"></span>
            <div class="header-mini-basket-icon-count">
                <span >{{cartCount}}</span>
            </div>
            </a>
            </span>
        </div>
    </div>
</div>
<!--end of tab header-block  -->

<!-- start of menu-block -->
<app-menu [sidemenuStatus]="sidemenuStatus" [menuData]="menuData"></app-menu>
