<div class="rowComponents product_detail"   *ngIf="productInfo">
        <div class="product_image_div">
            <div class="productImage" *ngIf="pdpImage">
            <img class=" prod-img-src zoom"  [src]="pdpImage">
               
            <!-- <ngx-slick-carousel class="carousel" *ngIf="productInfo&&showDetail"
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let relevantpic of productInfo.thumbnails" class="slide">
                <img class=" prod-img-src zoom" src="{{relevantpic.src}}?$LargeImageTemplate1$">
        </div>
            </ngx-slick-carousel> -->



            </div>
             <div class="thumbnails-block alternate-carousel text-center  slick-initialized slick-slider "
                style="margin:25px 0px; " *ngIf="productInfo&&showDetail">
             <div class="rowComponents track_block">
                <div class="treat-items  slick-active  " data-slick-index="0 " aria-hidden="false " *ngFor="let relevantpic of productInfo.thumbnails"
                    style="width: 143px;margin:0; ">
                    <img height="100 " width="100 " (click)="onThumbnailClick($event,relevantpic)" src="{{relevantpic.src}}">
                </div>
            </div>
            </div> 
        </div>
             <div class="pdp-productDtls-container">
                <div class="productDetail header-position">
                    <h2  *ngIf="productInfo" [innerHtml]="productInfo.productDisplayName" ></h2>
                </div>
                <div>
                <div class="form-inline">
                    <ngx-stars  [readonly]="true" [initialStars]="productInfo.productAverageRating" [color]="'#484848'" [size]="1"></ngx-stars>                  
                     <div *ngIf="showDetail"  id="BVRRSummaryContainer"></div>
                </div>
                <p class="pricePoint" *ngIf="productInfo">
                   <b class="price-format">{{ (productInfo.price)?productInfo.price.formattedValue:'Comming Soon'}}</b>
                </p>
                </div>
                <li  class="addToBasket" style="list-style: none; ">
                    <div  style="cursor: pointer; ">
                        <button class="addToCartBtn" (click)="addToBasket(productInfo)"> Add to Basket <span></span>
                        </button>
                        <span class="mb-quantityInput ">
                            <span > Quantity:&nbsp; </span>
                            <input [(ngModel)]="prodQuantity" type="text" (keypress)="numberOnly($event)" maxlength="2" pattern="[0-9]+" class="plpBasketQuantity">
                        </span>
                    </div>
                    <div class="productDetail header-position">
                        <h3  *ngIf="productInfo"  [innerHtml]="productInfo.productDisplayName" ></h3>
                    </div>
                </li>
                <div class="clearboth paddingTop10px "></div>
                <ul class="productDetailTabs"  *ngIf="productInfo&&showDetail">
                    <li class="collapsible" *ngIf="productInfo.description">
                        <h3 (click)="onCollapseDetail($event,'fragrance')" >THE FRAGRANCE<span [ngClass]="{'transform-caret':showFragrance,'transform-caret-90':!showFragrance}"></span></h3>
                        <div class="collapsibleContent" style="height:auto;" [ngClass]="{'showfragrance':showFragrance,'hideFragrance':!showFragrance}" [innerHtml]="productInfo.description">
                           
                        </div>
                    </li>
                    <li class="collapsible" *ngIf="productInfo.explore">
                        <h3 (click)="onCollapseDetail($event,'explore')">Explore<span [ngClass]="{'transform-caret':showExplore,'transform-caret-90':!showExplore}"></span></h3>
                        <div class="collapsibleContent" style="height:auto;" [ngClass]="{'showfragrance':showExplore,'hideFragrance':!showExplore}">
                                  {{productInfo.explore}}
                         </div>
                    </li>
                    <li class="collapsible" *ngIf="productInfo.benefits">
                        <h3 (click)="onCollapseDetail($event,'benefits')">benefits<span  [ngClass]="{'transform-caret':showBenifits,'transform-caret-90':!showBenifits}"></span></h3>
                        <div class="collapsibleContent" style="height:auto;" [ngClass]="{'showfragrance':showBenifits,'hideFragrance':!showBenifits}">
                         {{productInfo.benefits}}
                        </div>
                    </li>
                    <li class="collapsible" *ngIf="productInfo.delivery">
                        <h3 (click)="onCollapseDetail($event,'delivery')">delivery<span  [ngClass]="{'transform-caret':showDelivery,'transform-caret-90':!showDelivery}"></span></h3>
                        <div class="collapsibleContent" style="height:auto;" [ngClass]="{'showfragrance':showDelivery,'hideFragrance':!showDelivery}">
                         {{productInfo.delivery}}
                        </div>
                    </li>
                    <li class="share-tab-conatainer">
                        <h3>SHARE THIS</h3>
                        <div class="sharetab"> 
                        <a href="#" class="sharingIcons facebook">Share on facebook</a>
                            <a  href="#" class="sharingIcons instagram">Share on Instagram+</a>
                        <a target="_blank" href="#" class="sharingIcons twitter">Share on twitter</a>
                        <a href="#" class="sharingIcons pinterest">Share on Pinterest</a>
                        <a href="#" class="sharingIcons youtube">Share on Pinterest</a>
                        </div>
                    </li>
                </ul>
                <p class="SKUCode code-position ">
                    Product code:<span class="nb " id="picker_item " none="None " style="padding-left:5px; " *ngIf="productInfo">{{productInfo.code}}</span>
                </p>
                <p style="margin:0;font-size: 14px;" *ngIf="productInfo"><span *ngIf="productInfo.size">Size:&nbsp;{{productInfo.size}}</span></p>
                <p *ngIf="!showDetail" style="margin-top:10px;" (click)="onShowProductDetails(productInfo) "><span class="fullDetails">Full Details</span><span><i class="fa fa-caret-right "></i></span></p>
                 <div *ngIf="showDetail&&regUser" class="add-favourites">
                    <div class="add-favourites-image">
                     <img src="../../../assets/imgs/btn_addToFavourites.gif" alt="add to favourites" (click)="addToFavourite($event,productInfo)">
                     <span *ngIf="favourite; else favouriteBlock">
                         <a (click)="addToFavourite($event,productInfo)" >Add to Favourites</a>
                     </span>
                         <ng-template #favouriteBlock>
                           <span>
                             Good choice! We've popped this product into your <u (click)="onClickFavourite()">Favourites</u> .
                           </span>  
                         </ng-template>
                    
                    </div>  
                 </div>
            </div>
    </div>