
h2.terms-title {
    font-size: 14px;
    margin: 0 0 12px!important;
    padding-top:15px;
}
.join-title{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}