<!-- <div   class="wrap" style="z-index:-99999;" >
    <a class="mb-prod-quickview-cntnt  hide-on-tabs plp-quickview"    style="z-index:999;" (click)="onQuickView($event,i)">Quick view</a>


    <div class="wrap-content" (click)="onShowDetailPage($event,data)">
        <div class="holder">
                <img src="https://i1.adis.ws/s/moltonbrown/{{data.code}}_uk_set?$mobLargeImg$&amp;fmt=webp" crossorigin="anonymous">
        </div>
        <div style="text-align:center;">
            <div class="plp-prdct-name">
                <span [innerHtml]="data.productDisplayName"> </span>
            </div>
            <div>
                <ngx-stars [readonly]="true" [initialStars]="data.productAverageRating" [color]="'#484848'" [size]="1"></ngx-stars>                                   
                <span class="mb-product-review-content"> {{data.reviewCount}} reviews</span>
            </div>
            <div>
                <b class="price-format">{{(data.price)?data.price.formattedValue:'loading'}}</b>
            </div>
            <div>
            </div>
        </div>
    </div>
<div class="content quickview-cntnt" style="z-index:99999;"  [ngClass]="{'mb-dropLayer-show':data.show,'mb-dropLayer-hide':!data.show}">
<div class="prodlist-quickView">
<div><span class="mb-prod-arrow mb-quickview-collapse-arrow"></span></div>
<div class="mb-quickview-close-btn"  (click)="onCloseWindow(data,i)"><span>Close</span></div>
</div>
<div>
<app-productview [productInfo]="data" [showDetail]="false" (showProductDetail)="onShowDetailPage(data)" (onQuickView)="onCloseQuickView($event)"></app-productview>  
</div>
</div>
</div> -->
<div>Product</div>