
<section class="mb-content">
  <div class="container">
    <div class="rowComponents">
      <div class="store_img_block">
      <a>
        <img src="../../assets/imgs/storeEventsBanner.jpg" alt="store event_banner">
      </a>
      </div>
    </div>
    <div class="rowComponents mt-10 find-store">
       <div class="col-sm-6 find-store-search">
         <h1>Store Finder</h1>
         <p>Find your nearest Molton Brown Store, Stockist or Hotel partner using our store locator.</p>
         <div class="form-inline">
          <input placeholder="Enter a city, town or postcode" >
          <button class="btn btn-default findStore">Search</button>
         </div>
       </div>
        <div class="col-sm-6 find-store-search-banner">
            <img src="../../assets/imgs/store-img-banner.png" alt="store event_banner">
        </div>
    </div>


    <div class="justify-content-center freshrelavance ">
            
        <h2 class="customer">Shop our Customer Favourites</h2>
        <div class="tmspslot" style="width: 100%; min-height: 60px;margin-bottom:8px;" data-k="qa5buoy" data-slid="uk-hybris-prod-feed-search-results" data-p="1" ></div>
        <div>
            <img width="748px" src="//images.moltonbrown.co.uk/images/storefront/Store_Finder_Image.gif?version=16" alt="Molton Brown UK  storefinder" >
        </div>
        <div class="search-header">
            <h3>Need more help?</h3>
            <div >
            You may be able to find the answer in our <a href="/store/faqs"><u>FAQs and help</u></a> pages or contact our customer services team on freephone: +44 (0)808 178 1188 or email us on 
            <a href="mailto:customerservice@moltonbrown.com">
                <u>customerservice@moltonbrown.com</u>.
            </a>
                Our lines are open: 8am-8pm (UK Time) Monday to Friday, 10am-4pm (UK Time) Saturday.
                We aim to respond to all messages and call backs within 2 working days of receipt.<br><br>
            </div>
        </div>
    </div>
  </div>
</section>