.pdp-container{
    width:964px;
    margin-right: auto;
    margin-left: auto;
    text-rendering: optimizeLegibility;
    @media(max-width: 768px){
     width:100%;
    }
}

.thumbnails-block{

    @media(max-width:768px){
     display:none;
    }
}

    .smartContent {
        clear: both;
        overflow: hidden;
        padding-bottom: 34px;
        width: 100%;
        height:100%;
        .smartContentWrapper {
            position: relative;
            height: 85%;
            width: 100%;
            .item {
                &:first-child {
                    margin-left: 0;
                }
                display: inline-block;
                position: relative;
                width: 48.75%;
                height: 100%;
                border: solid 1px #cecece;
                margin-left: 1.5%;
                vertical-align: top;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin:0;
                }
                h4 {
                    position: relative;
                    padding: 10px;
                    text-align: left;
                    border-bottom: solid 1px #fff;
                    font-size: 13px;
                    font-weight: bold;
                    // text-transform: capitalize;
                }
                .thumbnails {
                    position: relative;
                    background: #fff;
                    width: 100%;
                    height: 275px;
                    margin: 0 auto;
                    .product-info {
                        overflow: hidden;
                        .product-title {
                            min-height:45px;
                            font-size:12px;
                            text-transform: capitalize;
                            width:75%;
                            margin:0 auto;
                            @media(max-width:768px){
                                width:90%;
                            }
                        }
                    }
                    li {
                        margin: 0 12px 0 12px;
                        line-height: 15px;
                        display: inline-block;
                        position: relative;
                        float: left;
                        text-align: center;
                        width: 128px;
                        height: 200px;
                        img {
                            width: 156px;
                            height: 156px;
                            padding-top: 5px;
                            overflow: hidden;
                       
                        }
                        @media(max-width:768px){
                            width: 115px;
                            img{
                            width: 100px;
                            height: 100px;  
                        }
                 
                    }
                    @media(max-width:321px){
                        width: 80px;
                    }
                        .product-info {
                            overflow: hidden;
                            .product-title {
                                min-height:45px;
                                font-size:12px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }


        }
    }

.row:before,
.row:after {
    content: " ";
    display: table;
}

// #overlay-lightBox {
//     position: fixed;
//     z-index: 200000;
//     height: 530px;
//     top: 30px !important;
//     width: 900px;
//     background: white;
//     overflow-y: scroll;
//     display: none;
//     overflow-x: hidden;
//     border: 1px solid #666;
//     left: 225px;
// }
.product-info {

    overflow: hidden;
    .product-title {
        min-height:45px;
        font-size:12px;
        text-transform: capitalize;
    }
    .product-price{
        font-size:12px;
    }
}
.pdp-treat-section{
    float: left;
    width:48%;
}
.pdp-container .smartContent .item .tmspslot {
 
  width: 475px;
   min-height: 60px;  
   border: solid 1px #cecece;
  @media screen and (max-width:768px) {
      margin:auto;border:none;
  }
}
#uk-hybris-prod-feed-product-page-you-may-also-like-fr_carousel.slick-initialized, #uk-hybris-prod-feed-product-page-works-well-with-fr_carousel.slick-initialized {

    .slick-slide{
        width:128px !important;
        height:200px !important;
        margin:0px 12px 0px 12px ;
        .product_name{
            font-size: 12px !important;
        }
        &:nth-child(4) {
             display:none;
        }
        &:nth-child(5) {
             display:none;
        }
   }    
   }

