
<div class="giftcard">
  <section>
    <fieldset>
        <legend>Do you want to split the payment between credit or debit card and a gift card?</legend>
        <div class="form-group form-checkbox" >
            <div class="radio">
                <input id="giftcard" name="giftcard" type="radio" class="password-radio" (change)="onChangePaymenttype(true)" >
                <label  for="giftcard"> No, I'll pay with just my gift card.</label>
            </div>
        </div>
        <div class="form-group form-checkbox" >
            <div class="radio">
                <input   id="giftcard1" name="giftcard" type="radio" class="password-radio" (change)="onChangePaymenttype(false)" >
                <label for="giftcard1"> Yes, I would like to split my payment.</label>
            </div>
        </div>
        <form [formGroup]="cardDetailForm" *ngIf="paymentGiftSouce=='gift'" (ngSubmit)="onGiftDetailSubmit($event)" >
            <div class="form-group">
                <label class="sr-only">First name*</label>
                <input formControlName="FirstName"  autocorrect="off" autocomplete="off" placeholder="First name*" type="text"  class="form-control  mandatory"
                [ngClass]="{'has-error  not-valid': !cardDetailForm.get('FirstName').valid && cardDetailForm.get('FirstName').touched,'valid':cardDetailForm.get('FirstName').valid,'invalid':!cardDetailForm.get('FirstName').valid}"
                    required>
            </div>
            <div class="form-group">
                <label class="sr-only">Last name*</label>
                <input autocorrect="off" formControlName="LastName" autocomplete="off" placeholder="Last name*" type="text" class="form-control  mandatory"
                [ngClass]="{'has-error  not-valid': !cardDetailForm.get('LastName').valid && cardDetailForm.get('LastName').touched,'valid':cardDetailForm.get('LastName').valid,'invalid':!cardDetailForm.get('LastName').valid}"
                 required>
            </div>
            <div class="form-group pos-relative">
                <input autocorrect="off"  formControlName="GivexCardNumber"  placeholder="Gift card number*" type="text"  class="form-control  mandatory"
                [ngClass]="{'has-error  not-valid': !cardDetailForm.get('GivexCardNumber').valid && cardDetailForm.get('GivexCardNumber').touched,'valid':cardDetailForm.get('GivexCardNumber').valid,'invalid':!cardDetailForm.get('GivexCardNumber').valid}"
                autocapitalize="on" value="" >
                <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="This is the 21-digit number on the back of your gift card."  show-delay="500" placement="right" ></a>
                
            </div>
            <div class="form-group pos-relative">
                <input autocorrect="off" formControlName="GivexPinNumber"  placeholder="Gift card pin*" type="text" class="form-control  mandatory" 
                [ngClass]="{'has-error  not-valid': !cardDetailForm.get('GivexPinNumber').valid && cardDetailForm.get('GivexPinNumber').touched,'valid':cardDetailForm.get('GivexPinNumber').valid,'invalid':!cardDetailForm.get('GivexPinNumber').valid}"
                autocapitalize="on" value="" >
                <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="Scratch off the panel on the back of the card to reveal the 6-digit number."  show-delay="500" placement="right" ></a>
                    </div>
            <div class="form-group pos-relative">
                <input autocorrect="off"  formControlName="Amount"  placeholder="Amount to pay*" type="text" class="form-control  mandatory"
                [ngClass]="{'has-error  not-valid': !cardDetailForm.get('Amount').valid && cardDetailForm.get('Amount').touched,'valid':cardDetailForm.get('Amount').valid,'invalid':!cardDetailForm.get('Amount').valid}"
                 autocapitalize="on" value="" >
                 <a class="contextual-help" tooltip-class="toolTipFont"  tooltip="Enter the amount you wish to pay."  show-delay="500" placement="right" ></a>
                </div>
         
            <div *ngIf="showCard" >

                            <section>
                            <div class="section-heading"><h2>Your billing address</h2></div>
                            <div style="display:block">
                            <div class="payer-saved-address clearfix">
                             
                              <div>
                                  <div class="saved-address clearfix">
                                    <p>{{shippingAddress.customerAddress.line1}}<br>
                                        {{shippingAddress.customerAddress.line2}}<br>
                                        {{shippingAddress.customerAddress.town}}<br>
                                        {{shippingAddress.customerAddress.postalCode}}<br>
                                        {{shippingAddress.customerAddress.country.name}}<br>
                                        <span *ngIf="shippingAddress.customerAddress.phone">{{shippingAddress.customerAddress.phone}}</span>
                                       </p>
                                        <a class="change-address-btn" title="Change billing address">Change billing address</a>
                                                                      </div>
                                  <div class="form-group form-checkbox" >
                                      <div class="checkbox">
                                          <input style="padding-top: 0px;" type="checkbox" value="true" class="checkbox" checked >
                                          <label for="passwordRadios2">This is my correct billing address.*</label>
                                      </div>
                                  </div>
                              </div>
                            <section class="mb-personal-details">
                            <fieldset style="border-bottom: 1px solid #ccc;">
                              <legend>Where do you want us to ship to?</legend>
                            <div>
                               <span class="custom-dropdown big">
                               <select formControlName="cardType" >
                                     <option value="" disabled selected style="display:none;">Card Type *</option>
                                                
                                            <option value="master">Mastercard</option>
                                            <option value="amex">American Express</option>
                                            <option value="visa" >Visa</option>
                                            <option value="visa_debit">Visa-Debit</option>
                                            <option value="v_pay">V-Pay</option>
                                            <option value="mastercard_debitt">MasterCard Debit</option>
                               </select>
                               </span>
                            </div>
                            <div class="form-group">
                              <label class="sr-only">Card Number</label>
                              <input formControlName="cardNumber" autocorrect="off" autocomplete="off" placeholder="Card number*" type="text" class="form-control  mandatory" required
                              [ngClass]="{'has-error  not-valid': !cardDetailForm.get('cardNumber').valid && cardDetailForm.get('cardNumber').touched,'valid':cardDetailForm.get('cardNumber').valid,'invalid':!cardDetailForm.get('cardNumber').valid}" ></div>
                            <div class="form-group">
                                   <label class="sr-only">Card Holder First Name</label>
                                   <input formControlName="firstName" autocomplete="off"  placeholder="Card holder first name*" type="text" class="form-control  mandatory "
                                      [ngClass]="{'has-error  not-valid': !cardDetailForm.get('firstName').valid && cardDetailForm.get('firstName').touched,'valid':cardDetailForm.get('firstName').valid,'invalid':!cardDetailForm.get('firstName').valid}" required>
                             </div>
                             <div class="form-group">
                                    <label class="sr-only">Card last Name</label>
                                    <input formControlName="lastName" autocomplete="off" placeholder="Card holder last name*" type="text" class="form-control  mandatory "
                                      [ngClass]="{'has-error  not-valid': !cardDetailForm.get('lastName').valid && cardDetailForm.get('lastName').touched,'valid':cardDetailForm.get('lastName').valid,'invalid':!cardDetailForm.get('lastName').valid}" required>
                             </div>
                             <legend>Expires</legend>
                             <div class="monthYearAlign">
                             <span class="custom-dropdown big">
                              <select formControlName="month" autocomplete="off">
                                       <option value="" disabled selected style="display:none;">Month*
                                       <option *ngFor="let month of expireMonth;">{{month.month}}</option>
                              </select>
                             </span>
                             <span class="custom-dropdown big ">
                              <select formControlName="year" autocomplete="off">
                                 <option value="" disabled selected style="display:none;">Year*
                                 <option *ngFor="let month of expireYear;">{{month.year}}</option>
                              </select>
                             </span>
                             </div>
                             <div class="form-group">
                                     <label class="sr-only">Cvv</label>
                                      <input  autocomplete="off" formControlName="cvv"  placeholder="Cvv*" type="text" class="form-control  mandatory"
                                        [ngClass]="{'has-error  not-valid': !cardDetailForm.get('cvv').valid && cardDetailForm.get('cvv').touched,'valid':cardDetailForm.get('cvv').valid,'invalid':!cardDetailForm.get('cvv').valid}" required>
                             </div>
                             </fieldset>

                            </section>
                            </div>
                           </div>
                           </section>
                           


            </div>
            <app-mb-terms [formType]="cardDetailForm" ></app-mb-terms>
        </form>
    </fieldset>
  </section>
  <div   [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}" >
    <app-loader></app-loader>
 </div>
</div>