<div class="check-balance margin-top-28" >
  <h2>Check Molton Brown Card Balance</h2>
  <p>Performing a balance enquiry helps you to keep track of your available credit and recent transaction history. Simple enter the details requested in the spaces provided and select 'submit details' to view your Molton Brown card transaction history.</p>
  <p class="check-balance-required margin-top-13">(* Required Field)</p>
</div>
<div class="wrapper-block margin-top-15">
   <div class="clearboth padding-top-10px"></div>
<form [formGroup]="givexForm" (ngSubmit)="onSubmitForm($event)">
   <div class="col-xs-12 row margin-top-8">
    <div class="col-sm-12 col-md-2  ">
        <label class="register_label " >Card Number<span class="redstar">*</span></label>
    </div>
    <div class="col-sm-12 col-md-10 text-left ">
      <span class="login_fields">
        <input maxlength="255" type="text" value="" formControlName="GivexCardNumber"  class="mandatory">
        </span>
    </div>
  </div>


  <div class="col-xs-12 row margin-top-10">
    <div class="col-sm-12 col-md-2  ">
        <label class="register_label " >Pin Number<span class="redstar">*</span></label>
    </div>
    <div class="col-sm-12 col-md-10 text-left ">
      <span class="login_fields">
        <input maxlength="255" type="text" value="" formControlName="GivexPinNumber" class="mandatory">
        </span>
    </div>
  </div>

  <div class="col-xs-12 row margin-top-10">
    <div class="col-sm-12 col-md-2  ">
    </div>
    <div class="col-sm-12 col-md-10 text-left ">
      <span class="login_fields">
        <input maxlength="255" type="text" value="" formControlName="captcha" class="mandatory">
        </span>
        <span>
          Please enter the characters as displayed in the image
        </span>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="buttonStyle"> continue</button>
   </div>
   </form>


   <div *ngIf="showBalance">Balance:</div>
</div>