.check-balance-required{
    color: #260e03!important;
    line-height: 20px;
    font-size: 13px!important;
}

.check-balance{
    h2{
        font-size: 28px;
        margin-bottom: 0;
        padding: 0 0 14px 0;
        color: #000;
    }
}
.register_label{
    float:right;
    padding-top: 5px;
    color: #535353;
    font-weight:normal;
    @media screen and(max-width:768px){
       float: left;
    }
}