<div class="rowComponents verticalCollapsibleSections OneLinkHide">
  <div class="fullWidthContent">
      <div class="title" (click)="onReviewClick()">
          <h3 >CUSTOMER REVIEWS</h3>
          <span [ngClass]="{'cheveron-open':reviewBoxStatus,'cheveron-close': !reviewBoxStatus}"></span>
      </div>
      <div  [ngClass]="{'review-open':reviewBoxStatus,'review-close': !reviewBoxStatus}">
          <div>
             <div class="bv-cleanslate bv-cv2-cleanslate">


<div id="BVRRContainer"></div>
             </div>
          </div>
      </div>
  </div>
</div>
