.OneLinkHide {
    display: block !important;
}
.fullWidthContent {
    position: relative;
    clear: both;
    padding: 0px 0px 30px;
    .title {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:before {
            position: absolute;
            content: "";
            top: 10px;
            left: 0px;
            right: 0px;
            height: 1px;
            background-color: rgb(206, 206, 206);
        }
        h3 {
            position: relative;
            display: inline-block;
            z-index: 0;
            font-size: 15px;
            font-weight: bold;
            background: rgb(255, 255, 255);
            padding: 0px 10px;
        }
        span{
            position: absolute;
            right: 25px;
            top: 0px;
            z-index: 0;
            width: 22px;
            height: 22px;
            background: url('https://www.moltonbrown.co.uk/images/cherons.png') 0px 0px no-repeat transparent;
            background-position: 0px 0px;
        }
    }
}
.bv-cv2-cleanslate {
    color: #000!important;
    direction: ltr!important;
    font-family: 'Times New Roman',Times,serif!important;
    font-size: medium!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 1!important;
    list-style-type: disc!important;
    text-align: left!important;
    text-decoration: none!important;
}
.review-open{
    overflow: hidden;
    display: block;
    transition: display 5ms;
}
.review-close{
    display: none;
}
.cheveron-close{
    transform: rotate(0deg);
}
.cheveron-open{
    transform: rotate(90deg);
}