
.my-account{
    margin:15px;
    position: relative;
     h2 {
    font-size: 28px;
    margin-bottom: 0;
    padding: 0 0 14px 0;
    color: #000;
    @media screen and(max-width:768px) {
        width:100%;  
        //   min-height: 190px;
    }
}
.edit-profile {
    border: 1px solid #d6d6d6;
    padding: 20px 10px;
    float: left;
    margin: 15px 0;
    width: 488px;
    h3 {
        font-weight: bold;
        font-size: 1.2em;
        color: #000!important;
        padding-left: 0!important;
    }
    .label{
        padding: 5px 30px 5px 0;
        width: 50%;
        text-align:right;
    }
}
}
.update-pwd {
    padding-bottom: 47px;
    width: 235px;
    margin-right: 20px !important;
 
}
.profile-block{
    border: 1px solid #d6d6d6;
    padding: 20px 10px;
    margin: 15px 0;
    min-height: 386px;
    float: left;
    h3 {
        padding-left: 0!important;
        font-weight: bold;
        margin-bottom: 10px;
        color: #000!important;        
        font-size: 14px;
     }
}
.edit-options {
max-width: 410px;
}
.accountPasswordChange{
    justify-content: space-around;
}
.no-padding{
    padding:0;
}
.login-fields-small {
    width: 210px;
    position: relative;
    padding: 0!important;
    display: inline-block;
    input{
        width:inherit;
    }
}
.update-pwd-btn{
    margin-top:20px;
}
.label_text{
    padding-bottom:5px;padding-top: 5px;
}
.update-profileBlock{
    margin-top:20px;
}
@media screen and (max-width:425px){
    .profile-block{
        width: 100%;
        min-height: 265px;
    }
    .update-pwd{
        margin-right: 0px !important;
    }
}

.edit-options{
    div{
        margin:15px 0px;
        .buttonStyle{
            margin-top: 10px;
        }
    }
}
.form-inline{
    p{
        width:48%;
    }
}