<div class="clickcollect-wrap" *ngIf="!loader;else loadOverlay">
  <section class="find-box cc-postcode">
     <h4><b>Choose a location to collect from</b></h4>

        <div class="form-group clearfix">
             <label class="sr-only">Post code</label>
             <input #search maxlength="12" appGooglePlaces  (onSelect)="setAddress($event)" type="text" value="" (keydown)="onSearchKeyUp($event)" [(ngModel)]="postCode"  placeholder="Enter a store name, postcode or town*" type="text" class="text form-control pull-left cc-postcode-input" >
             <!-- {{!-- <span class="not-valid-error-msg">Please enter a store name, postcode or town</span> --}} -->
             <span class=" btn btn-default pull-right btn-find-address" (click)="onPostCodeClick()" style="margin-top:5px;">FIND</span>
        </div>
  </section>
  <section class="cc-stores-list" *ngIf="showStores">
     <div class="cc-results-count cc-results-left">
         <span class="cc-results-size">23</span> locations found
     </div>
     <div class="form-group">
         <div class="checkbox">
             <input type="checkbox" [checked]="mbpointService" (change)="checkStores($event,'stores')"  >
             <label for="mbpoints">
               <img src="https://www.moltonbrown.co.uk/MBExternalBinary/DeliveryServiceimages/mb-cc.png" alt="logo">
               Molton Brown Stores - <b> FREE </b>(1-4 working days)
             </label>
         </div>    
     </div>
     <div class="form-group">
          <div class="checkbox">
              <input type="checkbox"  [checked]="pointService" (change)="checkStores($event,'points')">
              <label for="mbpoints">
                <img src="https://www.moltonbrown.co.uk/MBExternalBinary/DeliveryServiceimages/DPD-cc.png" alt="logo">
                Local collection points - £3.95 or FREE over £49 (2-3 working days)
               </label>
             </div>
    </div>
     <header class="cc-stores-list-header clearfix">
         <nav class="cc-stores-view-nav">
             <a  class="list-view "  [ngClass]="{'selected':listView}" (click)="onShowStoreList(true)">LIST</a>
             <a  class="google-map-view"  [ngClass]="{'selected':!listView}" (click)="onShowStoreList(false)">MAP</a>
         </nav>
     </header>
     <div class="toggle-store-view" *ngIf="listView; else mapView">
       <app-collection-list [storeList]="storesList" (emitselectedStore)="emitselectedStore($event)" ></app-collection-list>
     </div>
     <ng-template #mapView>
      <app-store-locator [storePoints]="storesList"></app-store-locator>
    </ng-template>
  </section>
 </div>
 <ng-template #loadOverlay>
   <app-loader></app-loader>
</ng-template>