.panel-heading {
    background-color: #464646;
    border-radius: 0;
    transition: all .5s linear;
    position: relative;
    z-index: 1;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    h4 {
        font-size: 1.5em;
        color: #fff;
    }
}
.panel-body {
    position: relative;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px 14px;
    transition: all .5s linear;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    section {
        margin-bottom: 10px;
    }
    .section-heading {
        h2 {
            font-size: 1.35em;
            margin: 0 0 12px 0;
        }
    }
}
    
section.find-address {
    .form-inline {
        .form-group {
            width: 25%;
            input[type=text].form-control {
                width: 99%;
            }
        }
    }
    .form-inline .btn {
        margin-right: 10px;
    }
    a.btn-find-addressFromPostCode {
        color: #fff;
    }
}
.btn-find-address{
    &:hover{
        color:#fff !important;
    }
}
.btn-default {
    background-color: #464646;
    color: #fff;
}

a.btn,
span.btn {
    text-decoration: none;
    padding-top: 14px;
}

.btn {
    border-radius: 0em !important;
    width: 165px;
    height: 48px;
    text-transform: uppercase;
    font-size: 1em;
    transition: background .3s ease-in-out;
    position: relative;
    line-height: 1 !important;
}

.clickcollect-wrap {
    .cc-stores-list {
        .cc-results-left {
            float: none;
        }
        .cc-results-count {
            // float: right;
            font-size: 1.28em;
            color: #a6a5a5;
            margin-top: 10px;
        }
        img {
            margin-top: -9px;
            vertical-align: top;
            height: 35px;
            padding-right: 5px;
        }
    }
    .cc-stores-view-nav {
        float: left;
        margin-top:20px;
        a {
            float: left;
            text-decoration: none;
            font-size: 1em;
            color: #fff !important;
            padding: 15px 30px 15px;
            margin-right: 5px;
            border-left: 1px solid #b1b1b1;
            background-color: #c2c2c2;
            border-radius: 0 25px 0 0;
            cursor: pointer;
            &.selected {
                background-color: #464646;
            }
        }
    }
    .cc-postcode-input,.btn-find-address{
      
        @media(max-width:768px){
        width:100% !important;
    }
    .cc-postcode-input{
        text-transform: uppercase;
          &::-webkit-input-placeholder { 
            text-transform: capitalize;
          }
          &:-ms-input-placeholder {
            text-transform: capitalize;
          }
          &::placeholder {
            text-transform: capitalize;
          }
      
    }
  
}
}

.h5,h5{
    font-size: 14px;
}

.delivery-panel a,
.payment-panel a,
a.os-gift-msg-edit,
a.change-address-btn,
.cc-stores-view-nav a {
    text-decoration: underline;
}
.cc-results-size{
    font-size: 1.2857142857em;
    color: #a6a5a5;
    margin-top: 10px;
}

.overlay-body{
    padding: 15px 14px;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    min-height: auto;
.loading-backdrop{
    background-color: #d9d9d9;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 555;
    width: 100%;
    margin: 0 auto;
    top: 0;
    height: 100%;
}
}