<div *ngIf="!catBanner;else categoryBanner">
    <div class="category_banner-block" *ngIf="categorybanner">
        <div class="catbanner">
            <div class="banner-container">
                <h1>{{categorybanner.categoryDisplayName}}</h1>
                <div class="banner_description">
                    <p class="bannerDescription" [innerHtml]="categorybanner.description"></p>
                </div>
                <div class="banner_childcategories" *ngIf="childRoot">
                    <div class="categorybanner_row">
                        <div *ngFor="let subproduct of categoryBannerList;" class="categorybanner_products text-left">
                            <a (click)="onSubPrductClick($event,subproduct)">{{subproduct.categoryDisplayName}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #categoryBanner>
    <div #categoryBannerEl>

    </div>
</ng-template>